<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Comments
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Orders", admin_orders_path %>
        <i class="fa fa-angle-right"></i>
      </li>
       <li>
        <%= link_to "Order", admin_order_path(@order) %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li> <%= link_to "Comments", admin_order_comments_path(@order) %></li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-user"></i>Comment Listing
        </div>
        <div class="pull-right">
          <%= link_to raw('<span class="label label-primary">Add New Comment </span>'), new_admin_order_comment_path(@order) %>
        </div>  
      </div>
      <div class="portlet-body">
        <div class="table-container"> 
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Comment</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>  
            <tbody>
              <% @comments.each do |comment| %>
                <tr>
                  <td><%= comment.message %></td>
                  <td><%= link_to raw("<span class='label label-default'>Edit</span>"), edit_admin_order_comment_path(@order,comment) %></td>
                  <td><%= link_to raw("<span class='label label-danger'>delete</span>"), admin_order_comment_path(@order, comment ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>                
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
