<h1>Listing menu_categories</h1>

<table>
  <tr>
    <th>Category name</th>
    <th>Menue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_categories.each do |menu_category| %>
  <tr>
    <td><%= menu_category.category_name %></td>
    <td><%= menu_category.menu_id %></td>
    <td><%= link_to 'Show', [@menu, menu_category] %></td>
    <td><%= link_to 'Edit', edit_menu_menu_category_path(@menu,menu_category) %></td>
    <td><%= link_to 'Destroy', [@menu, menu_category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Add New Menu Category",  new_menu_menu_category_path(@menu) %>
