<div class="row">
  <div class="col-md-12">
    <div class="row password-changer">
      <div class="col-md-4 heading-favorite"><label>Restaurant</label></div>
      <div class="col-md-4 heading-favorite"><label>Order Minimum</label></div>
      <div class="col-md-2 heading-favorite"><label>Actions</label></div>
      <div class="col-md-2 heading-favorite"><label>Order Again</label></div>
    </div>

    <% @favorites_restaurants.each do |favorite|%>
      <div class="row favorite-order">
        <div class="col-md-4 heading-favorite"><h3><%= link_to favorite.restaurant.restaurant_name, menu_welcome_path(favorite.restaurant)%></h3></div>
        <div class="col-md-4 heading-favorite">
          <div class="pic-delivery">
            <p>Delivery: $<%= favorite.restaurant.delivery_charges %> </p>
            <p>Pickup: <%= favorite.restaurant.phone_order? == true ? "Yes" : "None" %></p>
          </div>
        </div>
          <% review = is_review_exist(current_user, favorite.restaurant) %>

          <div class="col-md-2 heading-favorite">
            <div class="pic-delivery">
               <% if current_user.can_review?(favorite.restaurant) %>
                  <p><%= link_to "Rate","#", "data-toggle" => "modal", "data-target" => "#review_#{favorite.restaurant.id}" %></p>
                <% else %>
                  <% if review %>
                    <p><%= link_to "Edit Rating","#", "data-toggle" => "modal", "data-target" => "#edit_review_modal_#{favorite.restaurant.id}" %></p>
                  <% end -%>
                <% end %>
                <% if current_user.can_review?(favorite.restaurant) %>
                  <%= render :partial => "/dashboard/review_new_modal", :locals => {:@restaurant => favorite.restaurant} %>
                <% else %>
                  <% if review %>
                    <%= render :partial => "/dashboard/edit_review_modal", :locals => {:@review => review, :@restaurant => favorite.restaurant } %>
                  <% end %>
                <% end %>
                <p><%= link_to "Remove", remove_favorite_restaurant_dashboard_path(favorite.restaurant) %></p>
            </div>
          </div>

        <div class="col-md-2 heading-favorite"><%= link_to raw("<button class='order-again'>Order Again</button>"), menu_welcome_path(favorite.restaurant)%></div>
        <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
      </div>
    <% end -%>
    <div class="row pagination-container">
      <div class="col-md-8 col-md-offset-4">
        <%= paginate @favorites_restaurants, :params => {:controller => 'dashboard', :action => 'account', :hash => "favorite"} %>
      </div>
    </div>
  </div>
</div>