<div class="row">
  <div class="col-md-12">
    <div class="row password-changer">
      <div class="col-md-4 heading-favorite"><label>Restaurant</label></div>
      <div class="col-md-4 heading-favorite"><label>Order Minimum</label></div>
      <div class="col-md-2 heading-favorite"><label>Actions</label></div>
      <div class="col-md-2 heading-favorite"><label>Order Again</label></div>
    </div>
    <% @favorites_restaurants.each do |favorite|%>
      <div class="row favorite-order">
        <div class="col-md-4 heading-favorite"><h3><%= link_to favorite.restaurant.restaurant_name, menu_welcome_path(favorite.restaurant)%></h3></div>
        <div class="col-md-4 heading-favorite">
          <div class="pic-delivery">
            <p>Delivery: $<%= favorite.restaurant.delivery_charges %> </p>
            <p>Pickup: <%= favorite.restaurant.phone_order? == true ? "Yes" : "None" %></p>
          </div>
        </div>

          <div class="col-md-2 heading-favorite">
            <div class="pic-delivery">
               <% if !current_user.can_review?(favorite.restaurant) %>
                  <% unless Review.all.blank? %>
                    <% review = Review.select{|a| a.restaurant.id = favorite.restaurant.id and a.user_id = current_user.id}.first%>
                    <p><%= link_to "Rate Remove", remove_review_dashboard_path(review)  unless review.nil? %></p>
                  <% end %>
                <% end %>
            </div>
          </div>

        <div class="col-md-2 heading-favorite"><%= link_to raw("<button class='order-again'>Order Again</button>"), menu_welcome_path(favorite.restaurant)%></div>
        <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
      </div>
    <% end -%>
    <div class="row pagination-container">
      <div class="col-md-8 col-md-offset-4">
        <%= paginate @favorites_restaurants, :params => {:controller => 'dashboard', :action => 'account', :hash => "favorite"} %>
      </div>
    </div>
  </div>
</div>