<div class="row">
  <div class="col-md-12">
    <div class="row password-changer">
      <div class="col-md-3 heading-favorite"><label>Order Information</label></div>
      <div class="col-md-3 heading-favorite"><label>Restaurant</label></div>
      <div class="col-md-2 heading-favorite"><label>Total</label></div>
      <div class="col-md-2 heading-favorite"><label>Actions</label></div>
      <div class="col-md-2 heading-favorite"><label>Order Again</label></div>
    </div>
    
    <% @orders.each do |order|%>
      <div class="row favorite-order">
        <div class="col-md-3 heading-favorite">
          <div class="pic-delivery">
            <p><%= order.created_at.strftime("%m/%d/%Y %H:%M %p")%></p>
          </div>
        </div>
        <div class="col-md-3 heading-favorite">
          <div class="pic-delivery">
            <h3><%= link_to order.restaurant.restaurant_name, menu_welcome_path(order.restaurant)%></h3>
          </div>
        </div>
        <div class="col-md-2 heading-favorite">
          <div class="pic-delivery">
            <label>$<%= order.total_bill %></label>
          </div>
        </div>
        <div class="col-md-2 heading-favorite">
          <div class="pic-delivery">
            <% if current_user.can_review?(order.restaurant) %>
              <p><%= link_to "Rate","#", "data-toggle" => "modal", "data-target" => "#review_modal_#{order.restaurant.id}" %></p>
            <% else %>  
              <p><%= link_to "Edit Rating","#", "data-toggle" => "modal", "data-target" => "#edit_review_modal_#{order.restaurant.id}" %></p>
            <% end %>  
            <p><%= link_to "View Reciept", order_welcome_path(order) %></p>
            <p><%= link_to "Add To Favorites", add_favorite_restaurant_path(order.restaurant)%></p>
            <% if current_user.can_review?(order.restaurant) %>
              <%= render :partial => "new_review_modal", :locals => {:@restaurant => order.restaurant} %>
            <% else %>
              <%= render :partial => "edit_review_modal", :locals => {:@review => Review.where(:restaurant_id => order.restaurant.id, :user_id => current_user.id ).first, :@restaurant => order.restaurant } %>
            <% end %>
          </div>
        </div>
        <div class="col-md-2 heading-favorite">
          <%= link_to raw("<button class='order-again'>Order Again</button>"), menu_welcome_path(order.restaurant)%>
        </div>
        <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
      </div>
    <% end %>  
    
    <!-- <div class="row pagination-container">
      <div class="col-md-8 col-md-offset-4">
        <ul class="pagination">
          <li><a href="#">PREVIOUS</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">next</a></li>
        </ul>
      </div>
    </div> -->
  </div>
</div>