<div class="modal fade" id="review_<%=@restaurant.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header error-title">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Your Review</h4>
      </div>
      <%= form_for("review", :url => new_review_restaurant_path(@restaurant), :html => {:class => "review-form", :id => "review_form_#{@restaurant.id}" }) do |f| %>
        <div class="modal-body modal-body-container">
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-4 col-md-offset-4 name-restarant">
                <h4>Rating:</h4>
                  <div class="rating-stars">
                    <input name="review[rating]" id= "review_rating" type="radio" class="star" value="1"/>
                    <input name="review[rating]" id= "review_rating" type="radio" class="star" value="2"/>
                    <input name="review[rating]" id= "review_rating" type="radio" class="star" value="3"/>
                    <input name="review[rating]" id= "review_rating" type="radio" class="star" value="4"/>
                    <input name="review[rating]" id= "review_rating" type="radio" class="star" value="5"/>
                  </div>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="/assets/shadow.png" />
          </div>
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-12 col-md-offset-0 name-restarant">
                <h4>About You (Optional):</h4>
                <input type="email" class="form-control your-mail" id="exampleInputEmail2" placeholder="your name">
                <input type="email" class="form-control school-name" id="exampleInputEmail2" placeholder="school Name">
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="/assets/shadow.png" />
          </div>
          <% unless current_user.blank? %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          <% end %>
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-12 name-restarant">
                <h4>Let Us Know Your Experience With This Restaurant:</h4>
                <%= f.text_field :description , :class => "area-text"%>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="/assets/shadow.png" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary submit-md new-review-submit-btn", data-review = "<%=@restaurant.id%>" >Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>