<p>First Name: <%= @user["first_name"]%></p>
<p>Last Name: <%= @user["last_name"]%></p>
<p>Campus Name: <%= @user["campus_name"]%></p>
<p>Street Address: <%= @user["street_address"]%></p>
<p>City: <%= @user["city"] %></p>
<p>State: <%= @user["state"]%></p>
<p>Zip Code: <%= @user["zip_code"]%></p>
<p>Comments: <%= @user["comment"]%></p>