<p>First Name: <%= @user["first_name"]%></p>
<p>Last Name: <%= @user["last_name"]%></p>
<p>Restaurant Name: <%= @user["restaurant_name"]%></p>
<p>Phone Number: <%= @user["phone_no"]%></p>
<p>Zip Code: <%= @user["zip_code"]%></p>
<p> Comment: <%= @user["comment"]%>