<p>Restaurant Name: <%= @error["restaurant_name"]%></p>
<p>Email: <%= @error["email"]%></p>
<p>School Name: <%= @error["school_name"]%></p>
<p>Email: <%= @error["email"]%></p>
<p>Differences found:: <%= @error["note"]%></p>