<p>First Name: <%= @user["first_name"]%></p>
<p>Last Name: <%= @user["last_name"]%></p>
<p>Campus Name: <%= @user["campus_name"]%></p>
<p>Suggested Restaurants: <p>
	<ul>
		<li><p>Restaurant Name: <%= @user["restaurant_name_1"]%>   Phone Number: <%= @user["phone_number_1"]%></p></li>
		<li><p>Restaurant Name: <%= @user["restaurant_name_2"]%>   Phone Number: <%= @user["phone_number_2"]%></p></li>
		<li><p>Restaurant Name: <%= @user["restaurant_name_3"]%>   Phone Number: <%= @user["phone_number_3"]%></p></li>
	</ul>

