<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Permissions 
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li> <%= link_to "Permissoins", admin_permissions_path %></li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-user"></i>User Type Listing
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>User Type</th>
                <th> Roles </th>
                <th>Assign Permission</th>
              </tr>
            </thead>  
            <tbody>
              <% @roles.each do |role|%>
                <tr>
                  <td><%= role.name %> </td>
                  <td>
                    <% role.user_roles.each do |r| %>
                      <span class="label label-sm label-default"> <%= r.symbol %></span> 
                    <% end %>
                  </td>  
                  <td><%= link_to raw("<span class='label label-success'>Assign Permession</span>"), assign_permission_admin_permission_path(role) %>
                  </td>
                </tr>
              <% end %>
            </tbody>                
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
