<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Dashboard <small> Restaurants </small>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "CMS", admin_banners_path %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-shopping-cart"></i>Home Page Banners
        </div>
        <div class="pull-right">
          <%= link_to 'New Banner', new_admin_banner_path, :class => "btn btn-primary" %>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Image Type</th>
                <th>Image</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @banners.each do |banner| %>
                <tr>
                  <td><%= banner.image_type %></td>
                  <td class="text-center"><%= image_tag(banner.uploads.first.image(:medium))%></td>
                  <td><%= link_to raw("<span class='label label-sm label-default'> edit </span>"), edit_admin_banner_path(banner) %></td>
                  <td><%= link_to raw("<span class='label label-sm label-danger'> delete </span>"), admin_banner_path(banner) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

