<div class="row">
  <div class="container">
    <h3>View <%= link_to @school.school_name , @school%> / 
      <%= link_to @restaurant.restaurant_name, [@school, @restaurant]  %> / Menu 
    </h3>
    <p>
      <% unless @menu.menu_categories.blank %>
        <ul>
            <% @menu.menu_categories.each do |category| %>
              <li>
                <span> <%= category.category_name %></span>
              </li>  
            <% end%>
        </ul>  
      <% else %>
        <span> No Menu Category Existed </span>
      <% end %>
    </p>  
    <br />
    <%= link_to "back to Restaurant" , [@school, @restaurant] %> | 
    <%= link_to "Add more menu category",  new_school_restaurant_menu_menu_category_path(@school, @restaurant, @menu) %> | 
  </div>
</div>