<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
	<li class="sidebar-toggler-wrapper">
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<div class="sidebar-toggler hidden-phone">
		</div>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<li class="sidebar-search-wrapper">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search" action="javascript:;" method="POST">
				<div class="form-container">
					<div class="input-box">
						<a href="javascript:;" class="remove">
						</a>
						<input type="text" placeholder="Search..."/>
						<input type="button" class="submit" value=" "/>
					</div>
				</div>
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>

		<li class="start <%= 'active' if params[:controller] == 'admin/dashboard' %>" >
			<%= link_to raw('<i class="fa fa-home"></i><span class="title">Dashboard</span>'), admin_dashboard_index_path %>
		</li>

		<li class="<%= 'active' if params[:controller] == 'admin/banners' %>">
			<%= link_to raw('<i class="fa fa-cogs"></i><span class="title">Content Management</span>'), admin_banners_path %>
		</li>

		<li class="<%= 'active' if (params[:controller] == 'admin/subscriber_forms') or (params[:controller] == 'admin/contact_us_forms') or (params[:controller] == 'admin/restaurant_owner_forms') or (params[:controller] == 'admin/restaurant_suggestion_forms') or (params[:controller] == 'admin/campus_suggestion_forms') or (params[:controller] == 'admin/support_forms') or (params[:controller] == 'admin/redeam_request_forms') or (params[:controller] == 'admin/menu_difference_forms') %> ">
			<a href="javascript:;">
				<i class="fa fa-envelope-o"></i>
				<span class="title">
					Form Management
				</span>
				<span class="arrow">
				</span>
			</a>
			<ul class="sub-menu">
				<li class="<%= 'active' if params[:controller] == 'admin/subscriber_forms' %>">
					<%= link_to "Subscriber Forms", admin_subscriber_forms_path %>
				</li>
				<li class= "<%= 'active' if params[:controller] == 'admin/contact_us_forms' %>" >
					<%= link_to "Contactus Forms", admin_contact_us_forms_path %>
				</li>
				<li class= "<%= 'active' if params[:controller] == 'admin/restaurant_owner_forms' %>" >
					<%= link_to "Restaurant Owner Request Forms", admin_restaurant_owner_forms_path %>
				</li>
				<li class= "<%= 'active' if params[:controller] == 'admin/restaurant_suggestion_forms' %>" >
					<%= link_to "Restaurant Suggestion Forms", admin_restaurant_suggestion_forms_path %>
				</li>
				<li class= "<%= 'active' if params[:controller] == 'admin/campus_suggestion_forms' %>">
					<%= link_to "Campus Suggestion Forms", admin_campus_suggestion_forms_path %>
				</li>

				<li class= "<%= 'active' if params[:controller] == 'admin/support_forms' %>">
					<%= link_to "Support Forms", admin_support_forms_path %>
				</li>
        <li class= "<%= 'active' if params[:controller] == 'admin/redeam_request_forms' %>">
          <%= link_to "Redeam Request Forms", admin_redeam_request_forms_path %>
        </li>
        <li class= "<%= 'active' if params[:controller] == 'admin/menu_difference_forms' %>">
          <%= link_to "Menu Difference Request Forms", admin_menu_difference_forms_path %>
        </li>

			</ul>
		</li>
    <li class="<%= 'active' if params[:controller] == 'admin/reward_points' %>">
      <%= link_to raw('<i class="fa fa-gift"></i><span class="title">Reward Points</span>'), admin_reward_points_path %>
    </li>

    <li class="<%= 'active' if params[:controller] == 'admin/customers' %>">
      <%= link_to raw('<i class="fa fa-user"></i><span class="title">Customers</span>'), admin_customers_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/schools' %>">
      <%= link_to raw('<i class="fa fa-map-marker"></i><span class="title">Locations</span>'), admin_schools_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/restaurant_categories' %>">
      <%= link_to raw('<i class="fa fa-sitemap"></i><span class="title">Food Categories </span>'), admin_restaurant_categories_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/reviews' %>">
      <%= link_to raw('<i class="fa fa-group"></i><span class="title">Reviews </span>'), admin_reviews_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/orders' %>">
			<a href="javascript:;">
				<i class="fa fa-shopping-cart"></i>
				<span class="title">
					Order Management
				</span>
				<span class="arrow">
				</span>
			</a>
      <ul class="sub-menu">
        <li class="<%= 'active' if params[:action] == 'index' %>">
          <%= link_to raw('<i class="fa fa-shopping-cart"></i><span class="title">All Orders </span>'), admin_orders_path %>
        </li>
        <li class="<%= 'active' if params[:action] == 'new_orders' %>">
          <%= link_to raw('<i class="fa fa-shopping-cart"></i><span class="title">New Orders </span>'), new_orders_admin_orders_path %>
        </li>
        <li class="<%= 'active' if params[:action] == 'schedule_orders' %>">
          <%= link_to raw('<i class="fa fa-shopping-cart"></i><span class="title">Schedule Orders </span>'), schedule_orders_admin_orders_path %>
        </li>
        <li class="<%= 'active' if params[:action] == 'cancel_orders' %>">
          <%= link_to raw('<i class="fa fa-shopping-cart"></i><span class="title">Cancel Orders </span>'), cancel_orders_admin_orders_path %>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/reports' %>">
      <%= link_to raw('<i class="fa fa-tags"></i><span class="title">Reports</span>'), admin_reports_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/restaurants' %>">
      <%= link_to raw('<i class="fa fa-home"></i><span class="title">Restaurants</span>'), admin_restaurants_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/coupons' %>">
      <%= link_to raw('<i class="fa fa-bookmark-o"></i><span class="title">Coupons</span>'), admin_coupons_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/permission' %>">
      <%= link_to raw('<i class="fa fa-lock"></i><span class="title">Permissions</span>'), admin_permissions_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/careers' %>">
      <%= link_to raw('<i class="fa fa-briefcase"></i><span class="title">Careers</span>'), admin_careers_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/faqs' %>">
      <%= link_to raw('<i class="fa fa-briefcase"></i><span class="title">FAQs</span>'), admin_faqs_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/reciept_pages' %>">
      <%= link_to raw('<i class="fa fa-briefcase"></i><span class="title">Change Receipt Quote</span>'), admin_reciept_pages_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/user_pages' %>">
      <%= link_to raw('<i class="fa fa-briefcase"></i><span class="title">Change User Admin Page </span>'), admin_user_pages_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/term_of_service_pages' %>">
      <%= link_to raw('<i class="fa fa-briefcase"></i><span class="title">Term Of Services Page </span>'), admin_term_of_service_pages_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/redeams' %>">
      <%= link_to raw('<i class="fa fa-gift"></i><span class="title">Redeam Items</span>'), admin_redeams_path %>
    </li>
</ul>
