<% @sechedules = restaurant.sechedule_pendings %>
<% @categories = restaurant.menu_category_pendings %>
<% @items = restaurant.menu_item_pendings %>
<% @offers = restaurant.offer_pendings%>
<% @coupons = restaurant.coupon_pendings %>


<div class="row changes">
  <div class="col-md-7">
    <% unless @sechedules.blank? %>
      <table class="restaurant-table">
        <caption> <%= restaurant.restaurant_name %>'s scheduale request(s) </caption>
        <thead>
          <th>Type</th>
          <th>Day</th>
          <th>Open Time</th>
          <th>Close Time</th>
          <th>Accept</th>
          <th>Reject</th>
        </thead>
        <tbody>
          <% @sechedules.each do |sechedule| %>
            <% version = sechedule.versions.count %>
            <% sechedule.revert_to(version) %>
            <tr>
              <td><%= sechedule.sechedulable_type %></td>
              <td><%= sechedule.day %></td>
              <td><%= sechedule.opening_time.strftime("%I:%M%p")%></td>
              <td><%= sechedule.closing_time.strftime("%I:%M%p")%></td>
              <td class="text-center"><%= link_to raw("<img src='assets/accept.png' width='20px' height='20px' />"), accept_request_admin_restaurant_path(sechedule) %></td>
              <td class="text-center"><%= link_to raw("<img src='assets/reject.png' width='20px' height='20px' />"), reject_request_admin_restaurant_path(sechedule) %></td>
            </tr>
          <% end -%>    
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="col-md-5">
    <% unless @categories.blank? %>
      <table class="restaurant-table">
        <caption> Menu category name </caption>
        <thead>
          <th>Name </th>
          <th>Accept</th>
          <th>Reject</th>
        </thead>
        <tbody>
          <%@categories.each do |category| %>
            <% version = category.versions.count %>
            <% category.revert_to(version) %>
            <tr>
              <td><%= category.category_name %></td>
              <td class="text-center"><%= link_to raw("<img src='assets/accept.png' width='20px' height='20px' />"), accept_request_admin_menu_menu_category_path(category.menu, category) %></td>
              <td class="text-center"><%= link_to raw("<img src='assets/reject.png' width='20px' height='20px' />"), reject_request_admin_menu_menu_category_path(category.menu, category) %>
              </td>
            </tr>  
          <% end %>
        </tbody>
      </table> 
    <% end %>
  </div>  
</div>

<div class="row changes">
  <div class="col-md-7">
    <% unless @items.blank? %>
      <table class="restaurant-table">
        <caption> Menu Items </caption>
        <thead>
          <th>Name </th>
          <th>Description</th>
          <th>Price</th>
          <th>Accept</th>
          <th>Reject</th>
        </thead>
        <tbody>
          <% @items.each do |item|%>
            <% version = item.versions.count %>
            <% item.revert_to(version) %>
            <tr>
              <td> <%= item.item_name %></td>
              <td> <%= item.short_description %></td>
              <td> <%= item.price %></td>
              <td class="text-center"> <%= link_to raw("<img src='assets/accept.png' width='20px' height='20px' />"), accept_request_admin_menu_menu_item_path(item.menu_category.menu, item) %> </td>
              <td class="text-center"> <%= link_to raw("<img src='assets/reject.png' width='20px' height='20px' />"), reject_request_admin_menu_menu_item_path(item.menu_category.menu, item) %></td>
            </tr>
          <% end %>
        </tbody>  
      </table>  
    <% end %>
  </div>
</div>

<div class="row changes">
  <div class="col-md-7">
    <% unless @offers.blank? %>
      <table class="restaurant-table">
        <caption> Restaurant Offers </caption>
        <thead>
          <tr>
            <th> Description </th>
            <th> Package(%) </th>
            <th> Price </th>
            <th> From </th>
            <th> To </th>
            <th> Accept </th>
            <th> Reject </th>
          </tr>
        </thead>
        <tbody>
          <% @offers.each do |offer| %>
            <% version = offer.versions.count %>
            <% offer.revert_to(version) %>
            <tr>
              <td><%= offer.description %></td>
              <td><%= offer.offer_percentage %></td>
              <td><%= offer.offer_price %></td>
              <td><%= offer.valid_from.strftime("%m/%d/%Y") %></td>
              <td><%= offer.valid_to.strftime("%m/%d/%Y") %></td>
              <td class="text-center"> <%= link_to raw("<img src='assets/accept.png' width='20px' height='20px' />"),  accept_request_admin_restaurant_offer_path(offer) %> </td>
              <td class="text-center"> <%= link_to raw("<img src='assets/reject.png' width='20px' height='20px' />"), reject_request_admin_restaurant_offer_path(offer) %></td>
            </tr>
            <% end -%>
        </tbody>
      </table>  
    <% end %>
  </div>
</div>

<div class="row change">
  <div class="col-md-7">
    <% unless @coupons.blank? %>
      <table class="restaurant-table">
        <caption> Restaurant Coupons </caption>
        <thead>
            <tr>
              <th> Coupon Image </th>
              <th> Expiration date </th>
              <th> Accept </th>
              <th> Reject </th>
            </tr>
          </thead>
          <tbody>
            <% unless @coupons.blank? %>
              <% @coupons.each do |coupon| %>
                <% version = coupon.versions.count %>
                <% coupon.revert_to(version) %>
                <tr>
                  <td> <%= image_tag(coupon.coupon_image(:thumb)) %></td>
                  <td><%= coupon.expiration_date.strftime("%m/%d/%Y") %></td>
                  <td class="text-center"> <%= link_to raw("<img src='assets/accept.png' width='20px' height='20px' />"),  accept_request_admin_restaurant_coupon_path(coupon) %> </td>
                <td class="text-center"> <%= link_to raw("<img src='assets/reject.png' width='20px' height='20px' />"), reject_request_admin_restaurant_coupon_path(coupon) %></td>
                </tr>
              <% end -%>
            <% end %>
          </tbody>
      </table>    
    <% end -%>
  </div> 
</div>  