<div class="container">
	<div class="row">
		<table class="table table-striped user-result">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Email</th>
		      <th>Roles</th>
		      <th>Created at</th>
		      <th>Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    
		      <tr>
		        <td><%= @user.name %></td>
		        <td><%= @user.email %></td>
		        <td>
		        	<% @user.roles.each do |role| %>
		        		<%= role.name %>
		        	<% end %>	
		        </td>
		        <td><%= @user.created_at %></td>
		         <td>
		      		<%= link_to "edit", edit_user_admin_path(@user) %>
		      		<%= link_to "delete", destroy_user_admin_path(@user) , :method => :delete,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
		      		<%= link_to "back", user_admin_index_path %> 
		        </td>
		      </tr>
		    
		  </tbody>
		</table>
	</div>	
</div>	