<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Review Tab 
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li> <%= link_to "Reviews", admin_reviews_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= @restaurant.restaurant_name %> reviews
      </li>
    </ul>  
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i><%= @restaurant.restaurant_name %> Reviews
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container restaurant-reviews" data-restaurant = "<%= @restaurant.id %>">
          <table class="table table-striped table-bordered table-hover" id="review-table" >
            <thead>
              <tr>
                <th> Reviewer Name </th>
                <th> Review Message </th>
                <th> Rating </th>
                <th> Status </th>
                <th> Accept </th>
                <th> Reject </th>
                <th> remove </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> 