<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
	<li class="sidebar-toggler-wrapper">
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<div class="sidebar-toggler hidden-phone">
		</div>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<li class="sidebar-search-wrapper">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search" action="javascript:;" method="POST">
				<div class="form-container">
					<div class="input-box">
						<a href="javascript:;" class="remove">
						</a>
						<input type="text" placeholder="Search..."/>
						<input type="button" class="submit" value=" "/>
					</div>
				</div>
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="start active">
			<%= link_to raw('<i class="fa fa-home"></i><span class="title">Dashboard</span>'), restaurant_dashboard_index_path %>
		</li>
		<li class="open">
			<a href="javascript:;">
				<i class="fa fa-shopping-cart"></i>
				<span class="title">
					Restaurant
				</span>
				<span class="selected">
				</span>
				<span class="arrow open">
				</span>
			</a>
			<ul class="sub-menu" style="display:block;">
				<li>
					<%= link_to raw("<i class='fa fa-bullhorn'></i>New Orders"), new_orders_restaurant_dashboard_index_path %>
				</li>
				<li>
					<%= link_to raw("<i class='fa fa-bullhorn'></i>Confirm Orders"), confirm_orders_restaurant_dashboard_index_path %>
				</li>
				<li>
					<%= link_to raw("<i class='fa fa-bullhorn'></i>All Orders"), all_orders_restaurant_dashboard_index_path %>
				</li>
				<li>
					<%= link_to raw("<i class='fa fa-tags'></i>Reports"), reports_restaurant_dashboard_index_path %>
				</li>
				<li>
					<%= link_to raw("<i class='fa fa-tags'></i>Schedule Reports"), schedule_reports_restaurant_dashboard_index_path %>
				</li>
				<li>
					<%= link_to raw("<i class='fa fa-tags'></i>Support"), support_restaurant_dashboard_index_path %>
				</li>
				<li>
					<%= link_to raw("<i class='fa fa-tags'></i>Settings"), settings_restaurant_dashboard_index_path %>
				</li>
			</ul>	
		</li>	
	</li>
</ul>	