<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Cancel Orders
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Orders", admin_orders_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        Cancel Orders
      </li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-shopping-cart"></i>Cancel Ordes Listing
        </div>
        <div class="pull-right">
          <%= link_to raw("<i class='fa fa-print'></i>"), cancel_orders_print_admin_orders_path, :class => "btn btn-default", :target => "_blank" %>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container">
          <table class="table table-striped table-bordered table-hover" id="all_orders_data">
            <thead>
              <tr role="row" class="heading">
                <th width="5%">
                   ORDER&nbsp;ID
                </th>
                <th width="15%">
                  Date
                </th>
                
                <th width="5%">
                  Time
                </th>
                <th>
                  Restaurant
                </th>
                <th width="5%">
                  Transmit
                </th>
                <th width="5%">
                  Payment
                </th>
                <th width="5%">
                  Order Type
                </th>
                <th width="5%">
                  Order Time
                </th>
                <th width="5%">
                  Customer
                </th>
                <th width="5%">
                  Subtotal
                </th>
                <th width="5%">
                  Tax
                </th>
                <th width="5%">
                  Delivery Fee
                </th>
                <th width="5%">
                  Tip
                </th>
                <th width="5%">
                  Total
                </th>
                <th width="5%">
                  Promo Code
                </th>
                <th width="5%">
                  Online Discount
                </th>
                <th width="5%">
                  Total After Coupons
                </th>
                <th width="10%">
                   Action
                </th>
              </tr>
              <tr role="row" class="filter">
                <td class='input_filter'>
                  <input type="text" class="form-control form-filter input-sm search_init" name="order_id">
                </td>
                <td class="order_date-filter">
                  <div class="input-group date date-picker margin-bottom-5" data-date-format="D MMM, YYYY HH:mm">
                    <input type="text" class="form-control date-range-filter form-filter input-sm" readonly name="order_date_from" placeholder="From" id="order_from_date">
                    <span class="input-group-btn">
                      <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                  <div class="input-group date date-picker" data-date-format="D MMM, YYYY HH:mm">
                    <input type="text" class="form-control date-range-filter form-filter input-sm" readonly name="order_date_to" placeholder="To" id="order_to_date">
                    <span class="input-group-btn">
                      <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </td class='input_filter'>
                <td> <input type="text" class="form-control form-filter input-sm search_init" name="order_time"> </td>

                <td> <input type="text" class="form-control form-filter input-sm search_init" name="order_time"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init" name="order_transmit"> </td>
                <td class='select_filter'>
                  <select name="order_type" class="form-control form-filter input-sm">
                    <option value="">Select...</option>
                    <option value="Paypal">PayPal</option>
                    <option value="Credit Card">Credit Card</option>
                  </select>
                </td>
                <td class='select_filter'>
                  <select name="order_type" class="form-control form-filter input-sm">
                    <option value="">Select...</option>
                    <option value="pickup">PickUp</option>
                    <option value="delivery">Delivery</option>
                  </select>
                </td>
                
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td class='input_filter'> <input type="text" class="form-control form-filter input-sm search_init"> </td>
                <td>
                  <div class="margin-bottom-5">
                    <input type="text" class="form-control range-filter form-filter input-sm" id="order_total_from" name="order_total_from" placeholder="From"/>
                  </div>
                  <input type="text" class="form-control  range-filter form-filter input-sm" id="order_total_to" name="order_total_to" placeholder="To"/>
                </td>
                <td>
                  <div class="margin-bottom-5">
                    <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                  </div>
                  <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                </td>
              </tr>  
            </thead>  
            <tbody>
               <% @orders.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= order.updated_at.strftime('%e %B, %Y')%></td>
                  <td><%= order.updated_at.strftime('%I:%M%p')%></td>
                  <td><%=  order.restaurant.restaurant_name %></td>
                  <td><%if order.restaurant.can_fax? %>
                    FAX
                   <% end %> 
                  </td>
                  <td><%= order.method_type %></td>
                  <td><%= order.order_type %></td>
                  <td><%= order.request_time %></td>
                  <td><%= order.user.name %></td>
                  <td><%= order.sub_total %></td>
                  <td><%= order.sale_tax %></td>
                  <td><%= order.restaurant.delivery_charges %></td>
                  <td><%= order.tip %></td>
                  <td><%= order.total_bill %></td>
                  <td>0</td>
                  <td>0</td>
                  <td><%= order.total_after_discount %></td>
                  <td class="order_action">
                    <%= link_to "View", admin_order_path(order), :class => "btn default btn-xs green-stripe" %>
                  </td>
                </tr>
              <% end %>
            </tbody>  
          </table>  
        </div>
      </div>  
    </div>    
  </div>  
</div>

<script type="text/javascript">
  $(document).ready(function() {
    init_order_table();
  });
</script>