<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Order
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Orders", 'javascript:;' %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        Order
      </li>
    </ul>  
  </div>
</div>
<div class="admin-page">
  <div class="row content-body">
    <div class="col-md-5">
      <div class="inner-order-block">
        <h1>Order details</h1>
        <div class="content-field"><label class="left">Order Number:</label><label class="right"><%= @order.id %></label></div>
        <div class="content-field"><label class="left">Method:</label><label class="right">FAX</label></div>
        <div class="content-field"><label class="left">Confirmation Pin:</label><label class="right">4891</label></div>
        <div class="content-field"><label class="left">Order Type</label><label class="right"><%= @order.order_type %></label></div>
        <div class="content-field"><label class="left">Order Send at:</label><label class="right"><%= @order.created_at.strftime("%m/%d/%Y %H:%M %p") %></label></div>
        <% if @order.status == "confirm" %>
          <div class="content-field"><label class="left">Confirmed at:</label><label class="right"><%= @order.updated_at.strftime("%m/%d/%Y %H:%M %p") %></label></div>
        <% end %>  
        <div class="content-field"><label class="left">Time Required:</label><label class="right"><%= @order.request_time %></label></div>
      </div>
    </div>
    <div class="col-md-4 block-a block-b">
      <div class="inner-order-block inner-order-block-b">
        <h1>Customer Information</h1>
        <div class="content-field"><label class="left">Name:</label><label class="right"><%= @order.user.name %></label> </div>
          <div class="content-field"><label class="left">Adress:</label>
            <label class="right"><%= @order.get_address %></label>
          </div>
          <div class="content-field"><label class="left">Telephone:</label><label class="right"><%= @order.get_telephone_number %></label></div>
      </div>
    </div>
    <div class="col-md-3 block-a block-c">
      <div class="inner-order-block inner-order-block-c">
        <h1>Admin Tool</h1>
        <p><%=  link_to "Fax order restaurant", fax_receipt_admin_order_path(@order) %></p>
        <p><%=  link_to "Email Customer Receipt", email_receipt_admin_order_path(@order) %></p>  
        <p><%=  link_to @order.flag_value, toggle_flag_admin_order_path(@order) %></p>
        <p><%= link_to "Download Order", print_admin_order_path(@order), :format => "pdf" %></p>

      </div>
    </div>
  </div>
  <div class="row content-body content-body-sec">
    <div class="col-md-5">
      <div class="inner-order-block">
        <h1>Restaurant Details</h1>
        <div class="content-field"><label class="left">Restaurant Name:</label><label class="right"><%= @order.restaurant.restaurant_name %></label></div>
        <div class="content-field"><label class="left">Restaurant Adress:</label><label class="right"><%= @order.restaurant.address %></label></div>
        <div class="content-field"><label class="left">Order number</label><label class="right">14563</label></div>
        <div class="content-field"><label class="left">Restaurant Telephone:</label><label class="right"><%= @order.restaurant.phone %></label></div>
        <div class="content-field"><label class="left">Email:</label><label class="right"><%= @order.restaurant.email%></label></div>
        <div class="content-field"><label class="left">Schedule:</label><label class="right">Today closes at <%= @order.restaurant.close_time %></label></div>
      </div>
    </div>
    <div class="col-md-4 block-a block-b">
      <div class="inner-order-block">
        <h1>Payment</h1>
        <div class="content-field"><label class="left text-right">Payment Meathod:</label><label class="right"><%= @order.method_type %></label></div>
        <% if @order.method_type == "Credit Card"%>
          <div class="content-field"><label class="left text-right">Last 4digits of the card:</label><label class="right"><%= @order.card_digits %></label></div>
          <div class="content-field"><label class="left text-right">Approved at:</label><label class="right"><%= @order.approval_at %></label></div>
          <div class="content-field"><label class="left">Reference:</label><label class="right"><%= @order.reference%></label></div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 block-a block-c">
      <div class="inner-order-block inner-order-block-c">
        <h1>History</h1>
        <P><%= link_to 'Comments on this order', new_admin_order_comment_path(@order) %> </P>
        <P>Note:</P>
        <P><%= @order.last_comment %></P>
        <% if @order.comments.count > 1 %>
          <p class="pull-right"><%= link_to "view more", admin_order_comments_path(@order) %></p>
        <% end %>  
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="order-detail border-green  order_<%= @order.id %>">
      <div class="row border-bottom">
        <div class="col-md-4 img-black">
          <img src="/assets/black-bite.png" />
        </div>
        <div class="col-md-4 cof-code">
          <div class="code">
            <h2>Confirmation Code</h2>
            <h1><%= @order.secure_code %></h1>
          </div>
        </div>
        <div class="col-md-4 sent-at">
          <div class="senta">
            <p>Sent At:</p>
            <p><%= @order.created_at %></p>
            <p>Support:1-866-000-0000</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="order-pic">
            <ul>
              <li><label>Order#</label> <span><%= @order.id %></span></li>
              <li><label>Delivery or Pickup:</label> <span><%= @order.order_type %></span></li>
              <li><label>Order send at:</label> <span><%= @order.created_at.strftime('%e %B, %Y %I:%M%p')%></span></li>
              <li><label>Order request for:</label> <span><%= @order.request_time %></span></li>
              <li><label>Payment:</label> <span><%= @order.method_type %></span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="order-pic">
            <ul>
              <li><label>Address:</label> 
                <% unless @order.order_type == 'delivery'%>
                  <span>Costumer will pickup order</span>
                <% else %>  
                    <span><%= @order.get_address %> <span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 tabel-container">
          <table>
            <tr class="heading">
              <th class="first">Items</th>
              <th class="first">Quantity</th>
              <th>Total</th>
            </tr>
            <% @order.menu_item_orders.each_with_index do |item, index | %>
              <tr class="odd">
                <td class="first">
                  <h3><%= item.menu_item.item_name %></h3>
                  <% extra = 0 %>
                  <% if item.menu_item_property_id %>
                    <label>Size: <%= @order.property_name(item.menu_item_property_id) %> </label>
                    <% extra += @order.property_price(item.menu_item_property_id) %>
                  <% end %>
                  <p>Instructions: <%= item.instruction %></p>
                </td>
                <td class="first text-center"><%= item.quantity %></td>
                <td>$ <%= (extra + item.menu_item.price) * item.quantity  %></td>
              </tr>
            <% end %>
            <tr class="odd">
              <td>
                <div class="intruction">
                  <span>Special Intructions:</span><%= @order.delivery_instruction %>
                </div>
                <label class="sig">Customer Signature:________________________________________</label>
              </td>
              <td class="border-am">
                <p>Subtotal:</p>
                <p>Tex:</p>
                <p>Delivery Free:</p>
                <p>Tips:</p>
                <p><b>Total:</b></p>
                <p class="small">Coupon & Discount:</p>
                <p class="small">Total After Discount:</p>
              </td>
              <td class="border-am border-am-b">
                <p>$<%= @order.sub_total%></p>
                <p>$<%= @order.sale_tax %></p>
                <p>$<%= @order.delivery_charges %></p>
                <p>$<%= @order.tip_charges %></p>
                <p><b>$<%= @order.total_bill %></b></p>
                <p>$0</p>
                <p>$<%= @order.total_bill %></p>
              </td>
            </tr>
          </table>  
          <div class="support-help">
            For support or helps please contact us:Email:restaurant@campusbite or Phone:1-866-000-000
          </div>
        </div>
      </div>   
    </div> 
    <div class="row order-action order-detail hide order_<%= @order.id %>"> 
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <%= link_to "Confirm", confirm_order_restaurant_dashboard_path(@order), :class => "btn btn-lg green"%>
      </div>
      <div class="col-md-3">
        <%= link_to raw("<i class='fa  fa-5x fa-print'></i> Print"), "javascript:;", :class => "btn btn btn-lg blue print-order", "data-order" => @order.id %>
      </div>
      <div class="col-md-3">
        <%= link_to "Cancel", cancel_order_restaurant_dashboard_path(@order), :class => "btn btn-lg red"%>
      </div>  
    </div>  
  </div>
</div>
