<div class="container admin-page">
  <div class="row content-body">
    <div class="col-md-5 block-a">
      <div class="inner-order-block">
        <h1>Order details</h1>
        <div class="content-field"><label class="left">Order Number:</label><label class="right"><%= @order.id %></label></div>
        <div class="content-field"><label class="left">Method:</label><label class="right">FAX</label></div>
        <div class="content-field"><label class="left">Confirmation Pin:</label><label class="right">4891</label></div>
        <div class="content-field"><label class="left"><%= @order.order_type %></label><label class="right">Delivery</label></div>
        <div class="content-field"><label class="left">Order Send at:</label><label class="right"><%= @order.created_at.strftime("%m/%d/%Y %H:%M %p") %></label></div>
        <div class="content-field"><label class="left">Confirmed at:</label><label class="right">09/08/2014 9:14PM</label></div>
        <div class="content-field"><label class="left">Time Required:</label><label class="right"><%= @order.request_time %></label></div>
      </div>
    </div>
    <div class="col-md-4 block-a block-b">
      <div class="inner-order-block inner-order-block-b">
        <h1>Customer Information</h1>
        <div class="content-field"><label class="left">Name:</label><label class="right"><%= @order.customer_name %></label> </div>
            <% unless @order.order_type == "pickup" %>
            <div class="content-field"><label class="left">Adress:</label>
              <%= @order.address.address_type %>
              <% if @order.address.address_type == "On Campus" %>
              <label class="right">
               <%= @order.address.school.school_name %> <%= @order.address.room_number %> <%= @order.address.building.try(:street_adress) %></label>
             <% else %>
              <label class="right">
               <%= @order.address.room_number %> <%= @order.address.street_adress %>
              </label>
             <% end %>
            </div>
          <% end %>
          <div class="content-field"><label class="left">Telephone:</label><label class="right">718-456-7894</label></div>
      </div>
    </div>
    <div class="col-md-3 block-a block-c">
      <div class="inner-order-block inner-order-block-c">
        <h1>Customer Information</h1>
        <P><a href="#">Fax order restaurant</a></P>
        <P><a href="#">Email Customer Receipt</a></P>
        <P><a href="#">Flag Order</a></P>
        <P><a href="#">Download Order</a></P>
      </div>
    </div>
  </div>
  <div class="row content-body content-body-sec">
    <div class="col-md-5 block-a">
      <div class="inner-order-block">
        <h1>Restaurant Details</h1>
        <div class="content-field"><label class="left">Restaurant Name:</label><label class="right"><%= @order.restaurant.restaurant_name %></label></div>
        <div class="content-field"><label class="left">Restaurant Adress:</label><label class="right"><%= @order.restaurant.address %></label></div>
        <div class="content-field"><label class="left">Order number</label><label class="right">14563</label></div>
        <div class="content-field"><label class="left">Restaurant Telephone:</label><label class="right"><%= @order.restaurant.phone %></label></div>
        <div class="content-field"><label class="left">Email:</label><label class="right"><%= @order.restaurant.email%></label></div>
        <div class="content-field"><label class="left">Schedule:</label><label class="right">Today closes at <%= @order.restaurant.close_time %></label></div>
      </div>
    </div>
    <div class="col-md-4 block-a block-b">
      <div class="inner-order-block">
        <h1>Payment</h1>
        <div class="content-field"><label class="left text-right">Payment Meathod:</label><label class="right"><%= @order.method_type %></label></div>
        <div class="content-field"><label class="left text-right">Last 4digits of the card:</label><label class="right"><%= @order.id %></label></div>
        <div class="content-field"><label class="left text-right">Approved at:</label><label class="right">09/08/2014 9:14PM</label></div>
        <div class="content-field"><label class="left">Reference:</label><label class="right">898561</label></div>
      </div>
    </div>
    <div class="col-md-3 block-a block-c">
      <div class="inner-order-block inner-order-block-c">
        <h1>History</h1>
        <P><a href="#">Comments on this order</a></P>
        <P>Note:</P>
        <P>Customer was refunded $4.95 because the chocolate was melted</P>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-9 block-a">
      <div class="receipt-block">
        <div class="content-field"><label class="left">Order Number:</label><label class="right">14563</label></div>
        <div class="content-field"><label class="left">Method:</label><label class="right">FAX</label></div>
        <div class="content-field"><label class="left">Confirmation Pin:</label><label class="right">4891</label></div>
        <div class="content-field"><label class="left">Delivery Or Pickup:</label><label class="right">Delivery</label></div>
        <div class="content-field"><label class="left">Order Send at:</label><label class="right">09/08/2014 9:14PM</label></div>
        <div class="content-field"><label class="left">Confirmed at:</label><label class="right">09/08/2014 9:14PM</label></div>
        <div class="content-field"><label class="left">Time Required:</label><label class="right">ASAP</label></div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="row margin-block">
    <div class="col-md-5 block-a">
      <div class="receipt-block-color green-color">
        <div class="content-field"><label class="left">Restaurant Name:</label><label class="right">Peter Steakhouse</label></div>
        <div class="content-field"><label class="left">Restaurant Adress:</label><label class="right">1234 Maple St Room 14 brooklyn New york 11229 Harvard University</label></div>
        <div class="content-field"><label class="left">Order number</label><label class="right">14563</label></div>
        <div class="content-field"><label class="left">Restaurant Telephone:</label><label class="right">718-456-7894</label></div>
        <div class="content-field"><label class="left">Email:</label><label class="right">Petersteak@aol.com</label></div>
        <div class="content-field"><label class="left">Schedule:</label><label class="right">Today closes at 9:00PM</label></div>
      </div>
    </div>
    <div class="col-md-4 block-a">
      <div class="receipt-block-color yellow-color">
        <div class="content-field"><label class="left">Name:</label><label class="right">James Smith</label></div>
        <div class="content-field"><label class="left">Adress:</label><label class="right">1234 Maple St Room 14 brooklyn New york 11229</label></div>
        <div class="content-field"><label class="left">Telephone:</label><label class="right">718-456-7894</label></div>
      </div>
    </div>
  </div>
  <div class="row margin-block receipt-table">
    <div class="col-md-9 block-a">
      <table>
        <tr class="heading">
          <th class="first">Items</th>
          <th class="first">Price</th>
          <th class="first">Quantity</th>
          <th>Total</th>
        </tr>
        <tr class="odd">
          <td class="first">
            <h3>Chicken Roll</h3>
            <label>Extra Toppings: Mushrooms, Tomato, Onion</label>
            <p>Instructions: Please add extra blue cheese</p>
          </td>
          <td class="first">$100</td>
          <td class="first">1</td>
          <td>$100</td>
        </tr>
        <tr class="even">
          <td class="first">
            <h3>Brocolli Soup</h3>
            <p></p>
            <p>Instructions: Add extra broccolli </p>
          </td>
          <td class="first">$80</td>
          <td class="first">1</td>
          <td>$100</td>
        </tr>
        <tr class="odd">
          <td class="first">
            <h3>Can</h3>
            <label>Pepsi</label>
            <p></p>
            <p>Instructions:</p>
          </td>
          <td class="first">$80</td>
          <td class="first">1</td>
          <td>$100</td>
        </tr>
        <tr class="even">
          <td class="first">
            <h3>Appetizers</h3>
            <label>Chicken Wings</label>
            <label>Extra Toppings: Blue Cheese</label>
            <p>Instructions: Please add extra blue cheese</p>
          </td>
          <td class="first">$80</td>
          <td class="first">1</td>
          <td>$100</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row tabel-foot-container">
    <div class="col-md-9 block-a">
      <div class="gray"></div>
      <div class="sub-main-container">
        <div class="subtotal-container">
        <label class="left">Subtotal:</label><label>$21.75</label>
        </div>
        <div class="subtotal-container">
          <label class="left">Tax:</label><label>$1.75</label>
        </div>
        <div class="subtotal-container">
          <label class="left">Delivery Fee:</label><label>Free</label>
        </div>
        <div class="subtotal-container">
          <label class="left">Tip:</label><label>$4.40</label>
        </div>
        <div class="subtotal-container">
          <label class="left">Total:</label><label>$3.75</label>
        </div>
        <div class="subtotal-container">
          <label class="left"><p>Coupon&Discount:</p></label><label><p>$4.95(Coupon:Eat)</p></label>
        </div>
         <div class="subtotal-container">
          <label class="left"><p>Total After Discount:</p></label><label><p>$23.14</p></label>
        </div>
      </div>
    </div>
  </div> -->
</div>