<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     <%= @restaurant.restaurant_name %>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li> <%= link_to "Restaurnats", admin_restaurants_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li><%= @restaurant.restaurant_name %> </li>
      <li class="pull-right"> <%= link_to "View Menu" , admin_menu_path(@restaurant.menu) %>   </li>
    </ul>  
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i>Basic Information
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li>
            <div class="col-md-6"><label>Restaurant Name </label></div>
            <div class="col-md-6"><label><%= @restaurant.restaurant_name %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>School Name </label></div>
            <div class="col-md-6"><label><%= @restaurant.school_name %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>About Restaurant</label></div>
            <div class="col-md-6"><label><%= @restaurant.about_us %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Pick Up </label></div>
            <div class="col-md-6"><label><%= @restaurant.is_pickup %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Delivery</label></div>
            <div class="col-md-6"><label><%= @restaurant.is_delivery %></label></div>
          </li>
           <li>
            <div class="col-md-6"><label>Min Order</label></div>
            <div class="col-md-6"><label><%= @restaurant.min_delivery %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Delivery Charges</label></div>
            <div class="col-md-6"><label><%= @restaurant.delivery_charges %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Delivery Time</label></div>
            <div class="col-md-6"><label><%= @restaurant.estimated_time %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Featured</label></div>
            <div class="col-md-6"><label><%= @restaurant.is_featured %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Sale Tax</label></div>
            <div class="col-md-6"><label><%= @restaurant.sale_tax %></label></div>
          </li>
        </ul>  
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i>Contact Infonformation
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li>
            <div class="col-md-6"><label>Restaurant Email </label></div>
            <div class="col-md-6"><label><%= @restaurant.email %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Phone Number</label></div>
            <div class="col-md-6"><label><%= @restaurant.phone %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Website</label></div>
            <div class="col-md-6"><label><%= @restaurant.website %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>Street Address </label></div>
            <div class="col-md-6"><label><%= @restaurant.address %></label></div>
          </li>
          <li>
            <div class="col-md-6"><label>State</label></div>
            <div class="col-md-6"><label><%= @restaurant.state%></label></div>
          </li>
           <li>
            <div class="col-md-6"><label>City</label></div>
            <div class="col-md-6"><label><%= @restaurant.city %></label></div>
          </li>
           <li>
            <div class="col-md-6"><label>Zip Code</label></div>
            <div class="col-md-6"><label><%= @restaurant.zip_code %></label></div>
          </li>
        </ul>  
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i>Order Information
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
          <ul class="feeds">
            <li>
              <div class="col-md-6"><label>Order Transmit way </label></div>
              <div class="col-md-6"><label><%= @restaurant.transmit_way %></label></div>
            </li>
            <li>
              <div class="col-md-6"><label>Order Email </label></div>
              <div class="col-md-6"><label><%= @restaurant.order_email %></label></div>
            </li>
            <% if @restaurant.can_fax? %>
              <li>
                <div class="col-md-6"><label>Fax Number </label></div>
                <div class="col-md-6"><label><%= @restaurant.fax_number %></label></div>
              </li>
            <% end %>  
          </ul>
        </div>  
    </div>  
  </div>
  <div class="col-md-6">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i>Bank Information
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
          <ul class="feeds">
            <li>
              <div class="col-md-6"><label>Bank Name </label></div>
              <div class="col-md-6"><label><%= @restaurant.bank_name %></label></div>
            </li>
            <li>
              <div class="col-md-6"><label>Bank Account Number </label></div>
              <div class="col-md-6"><label><%= @restaurant.bank_account_number %></label></div>
            </li>
            <li>
              <div class="col-md-6"><label>Routine Number </label></div>
              <div class="col-md-6"><label><%= @restaurant.routine_number %></label></div>
            </li>
            <li>
              <div class="col-md-6"><label>Swift Code </label></div>
              <div class="col-md-6"><label><%= @restaurant.swift_code %></label></div>
            </li>
          </ul>
        </div>  
    </div>
  </div>  
</div>

<div class="row">
  <div class="col-md-4">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i> Opening-Closing Timing
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li>
            <div class="col-md-4 font-bold"> Day  </div>
            <div class="col-md-4 font-bold"> Open Time </div>
            <div class="col-md-4 font-bold"> Close Time </div>
          </li>
          <% @restaurant.operation.sechedules.each do |schedule| %>
            <li>
              <div class="col-md-4"> <label> <%= schedule.day %> </label></div>
              <div class="col-md-4"> <label> <%= schedule.opening_time.strftime("%I:%M%p")  %> </label></div>
              <div class="col-md-4"> <label> <%= schedule.closing_time.strftime("%I:%M%p")  %> </label> </div>
            </li>
            <% unless schedule.break_schedule.blank? %>
              <li>
                <div class="col-md-4"> <label> Break </label></div>
                <div class="col-md-4"> <label> <%= schedule.break_schedule.opening_time.strftime("%I:%M%p")  %> </label></div>
                <div class="col-md-4"> <label> <%= schedule.break_schedule.closing_time.strftime("%I:%M%p")  %> </label> </div>
              </li>
            <% end -%>  
          <% end %>
        </ul>  
      </div>  
    </div>
  </div>
  <div class="col-md-4">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i> Order Delivery Time
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li>
            <div class="col-md-4 font-bold"> Day  </div>
            <div class="col-md-4 font-bold"> Open Time </div>
            <div class="col-md-4 font-bold"> Close Time  </div>
          </li>
          <% @restaurant.delivery.sechedules.each do |schedule| %>
            <li>
              <div class="col-md-4"> <label> <%= schedule.day %> </label></div>
              <div class="col-md-4"> <label> <%= schedule.opening_time.strftime("%I:%M%p")  %></label></div>
              <div class="col-md-4"> <label> <%= schedule.closing_time.strftime("%I:%M%p")  %> </label></div>
            </li>
            <% unless schedule.break_schedule.blank? %>
              <li>
                <div class="col-md-4"> <label> Break </label></div>
                <div class="col-md-4"> <label> <%= schedule.break_schedule.opening_time.strftime("%I:%M%p")  %> </label></div>
                <div class="col-md-4"> <label> <%= schedule.break_schedule.closing_time.strftime("%I:%M%p")  %> </label> </div>
              </li>
            <% end %>  
          <% end %>  
        </ul>  
      </div>  
    </div>
  </div>
  <div class="col-md-4">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i> Order Pickup Time
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li>
            <div class="col-md-4 font-bold"> Day </div>
            <div class="col-md-4 font-bold"> Open Time</div>
            <div class="col-md-4 font-bold"> Close Time </div>
          </li>
          <% @restaurant.pick_up.sechedules.each do |schedule| %>
            <li>
              <div class="col-md-4"> <label><%= schedule.day %> </label></div>
              <div class="col-md-4"> <label><%= schedule.opening_time.strftime("%I:%M%p")  %></label></div>
              <div class="col-md-4"> <label><%= schedule.closing_time.strftime("%I:%M%p")  %></label> </div>
            </li>
            <% unless schedule.break_schedule.blank? %>
              <li>
                <div class="col-md-4"> <label> Break </label></div>
                <div class="col-md-4"> <label> <%= schedule.break_schedule.opening_time.strftime("%I:%M%p")  %> </label></div>
                <div class="col-md-4"> <label> <%= schedule.break_schedule.closing_time.strftime("%I:%M%p")  %> </label> </div>
              </li>
            <% end %>  
          <% end %>  
        </ul>  
      </div>  
    </div>
  </div>  
</div>

<div class="row">
  <div class="col-md-6">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i> Food Categories 
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <% @restaurant.restaurant_categories.each do |category| %>
            <li>
              <%= category.category_name %>
            </li>
          <% end %>
        </ul>  
      </div>  
    </div>
  </div>
  <div class="col-md-6">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i> Admin Information
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li>
            <div class="col-md-6">First Name</div>
            <div class="col-md-6"><%= @restaurant.user.first_name %></div>
          <li>
          <li>
            <div class="col-md-6">Last Name</div>
            <div class="col-md-6"><%= @restaurant.user.last_name %></div>
          <li>
          <li>
            <div class="col-md-6">Email Address</div>
            <div class="col-md-6"><%= @restaurant.user.email %></div>
          <li>
        </ul>  
      </div>  
    </div>
  </div>
</div>
