<div class="row">
  <div class="col-md-12">  
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th width="10%" class="bottom_border name">Menu category</th>
          <th width="30%" class="bottom_border">Menu item</th>
          <th width="5%" class="bottom_border">Edit category</th>
        </tr>
      </thead>
      <tbody>
        <% @menu.menu_categories.each do |category| %>
          <tr>
            <td width="10%"><%= category.category_name %></td>
            <td width="30%">
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <% category.menu_items.each do |item |%>
                    <tr>
                      <td><%= item.item_name %></td>
                      <td>$<%= item.price %></td>
                      <td>
                        <% unless item.status == "pending" %>
                          <%= link_to "edit", edit_item_restaurant_setting_path(item) %>
                        <% else %>
                          request pending
                        <% end %>  
                      </td>
                    </tr>
                  <% end -%>
                </tbody>
              </table>
            </td>
            <td width="5%"> 
              <% unless category.status == "pending" %>
                <%= link_to "edit", edit_category_restaurant_setting_path(category) %>
              <% else %>
                request pending
              <% end %>  
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>

