<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Dashboard <small> <%= @restaurant.restaurant_name %> </small>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", restaurant_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Dashboard", restaurant_dashboard_index_path %>
      </li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
    <div class="dashboard-stat blue">
      <div class="visual">
        <i class="fa fa-briefcase fa-icon-medium"></i>
      </div>
      <div class="details">
        <div class="number">
           $<%= @restaurant.life_time_sale.round(3) %>
        </div>
        <div class="desc">
           Lifetime Sales
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="dashboard-stat green">
      <div class="visual">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <div class="details">
        <div class="number">
           <%= @restaurant.orders.count %>
        </div>
        <div class="desc">
           Total Orders
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="dashboard-stat yellow">
      <div class="visual">
        <i class="fa fa-group fa-icon-medium"></i>
      </div>
      <div class="details">
        <div class="number">
           $<%= (@restaurant.life_time_sale / @restaurant.orders.count).round(3) %>
        </div>
        <div class="desc">
           Average Orders
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="row dashboard-data" data-orders="<%= @chart_data%>" >
  <div class="col-md-6">
    <div class="portlet box yellow">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i>Overview
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#top_customer" data-toggle="tab">
               Top Customers
            </a>
          </li>
          <li>
            <a href="#reviews" data-toggle="tab">
              Reviews
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Orders <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#latest_ten_orders" tabindex="-1" data-toggle="tab">
                   Latest 10 Orders
                </a>
              </li>
              <li>
                <a href="#pending_orders" tabindex="-1" data-toggle="tab">
                   Pending Orders
                </a>
              </li>
              <li>
                <a href="#completed_orders" tabindex="-1" data-toggle="tab">
                   Completed Orders
                </a>
              </li>
              <li>
                <a href="#rejected_orders" tabindex="-1" data-toggle="tab">
                   Rejected Orders
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="top_customer">
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th>
                     Customer Name
                  </th>
                  <th>
                     Order Ammount
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @customers.each do |customer|%>
                  <tr>
                    <td><%= customer.name %></td>
                    <td>$<%= customer.total_order(@restaurant) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>  
          </div>  
          <div class="tab-pane" id="reviews">
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th>
                    Reviewer Name
                  </th>
                  <th>
                    Rating
                  </th>
                  <th>
                    Description
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @reviews.each do |review|%>
                  <tr>
                    <td><%= review.user.name %></td>
                    <td><%= review.rating %></td>
                    <td><%= review.description %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="latest_ten_orders" >
            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th>
                       Customer Name
                    </th>
                    <th>
                       Date
                    </th>
                    <th>
                      Amount
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.first(10).each do |order| %>
                    <tr>
                      <td><%= order.user.name %></td>
                      <td><%= order.created_at.strftime('%e %B, %Y') %></td>
                      <td>$<%= order.total_bill %></td>
                      <td><%= order.status %></td>  
                      <td>
                        <%= link_to "View", order_restaurant_dashboard_path(order), :class => "btn default btn-xs green-stripe" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>  
            </div>  
          </div>
          <div class="tab-pane" id="pending_orders" >
            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th>
                       Customer Name
                    </th>
                    <th>
                       Date
                    </th>
                    <th>
                      Amount
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.where(:status => "pending").each do |order| %>
                    <tr>
                      <td><%= order.user.name %></td>
                      <td><%= order.created_at.strftime('%e %B, %Y') %></td>
                      <td>$<%= order.total_bill %></td>
                      <td><%= order.status %></td>  
                      <td>
                        <%= link_to "View", order_restaurant_dashboard_path(order), :class => "btn default btn-xs green-stripe" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>  
            </div>  
          </div>
          <div class="tab-pane" id="completed_orders" >
            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th>
                       Customer Name
                    </th>
                    <th>
                       Date
                    </th>
                    <th>
                      Amount
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.where(:status => "confirm").each do |order| %>
                    <tr>
                      <td><%= order.user.name %></td>
                      <td><%= order.created_at.strftime('%e %B, %Y') %></td>
                      <td>$<%= order.total_bill %></td>
                      <td><%= order.status %></td>  
                      <td>
                        <%= link_to "View", order_restaurant_dashboard_path(order), :class => "btn default btn-xs green-stripe" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>  
            </div>  
          </div>
          <div class="tab-pane" id="rejected_orders" >
            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th>
                       Customer Name
                    </th>
                    <th>
                       Date
                    </th>
                    <th>
                      Amount
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.where(:status => "reject").each do |order| %>
                    <tr>
                      <td><%= order.user.name %></td>
                      <td><%= order.created_at.strftime('%e %B, %Y') %></td>
                      <td>$<%= order.total_bill %></td>
                      <td><%= order.status %></td>  
                      <td>
                        <%= link_to "View", order_restaurant_dashboard_path(order), :class => "btn default btn-xs green-stripe" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>
  <div class="col-md-6">
    <div class="portlet box blue tabbable">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-bar-chart-o"></i>Order
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="portlet-tabs">
          <div class="tab-content">
            <div class="tab-pane active" id="portlet_tab1">
              <div id="statistics_1" class="chart" >
              </div>
            </div>
          </div>
        </div>  
      </div>  
    </div>  
  </div>  
</div>


<script type="text/javascript">
  $(document).ready(function() {    
    App.init();
    EcommerceIndex.init();
  });
</script>