<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     New Orders
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", restaurant_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Restaurant", 'javascript:;' %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "New Orders",new_orders_restaurant_dashboard_index_path %>
      </li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-shopping-cart"></i>Order Listing
        </div>
        <div class="sound-portion">
          <%=  link_to image_tag(current_user.mute? ? '/assets/mute.png' : '/assets/un-mute.png', :class => "sound-img-icon"), "javascript:;", :class => "toggle-alert", "alert" => "#{current_user.mute? ? false : true }" %>
          <audio>
            <source src="/assets/beep.wav">
          </audio>
        </div>  
      </div>
      <div class="portlet-body">
        <div class="row new-orders">
          <div class="col-md-3">
            <% @orders.each_with_index do |order, index|%>
              <div class="tabs <%= index%2==0 ? 'even' : 'odd'%> <%= index==0 ? 'first' : 'next'%> " data-order="<%=order.id%>">
                <label>Order#:<%= order.id %></label>
                <label>Time:<%= order.created_at.strftime('%e %B, %Y %I:%M%p')%></label>
                <label>Customer:<%= order.user.name %></label>
              </div>
            <% end %>
          </div>
          <div class="col-md-9 ">
            <% @orders.each do |order| %>
              <div class="order-detail border-green  order_<%= order.id %>">
                <div class="row border-bottom">
                  <div class="col-md-4 img-black">
                    <img src="/assets/black-bite.png" />
                  </div>
                  <div class="col-md-4 cof-code">
                    <div class="code">
                      <h2>Confirmation Code</h2>
                      <h1><%= order.secure_code %></h1>
                    </div>
                  </div>
                  <div class="col-md-4 sent-at">
                    <div class="senta">
                      <p>Sent At:</p>
                      <p><%= order.created_at %></p>
                      <p>Support:1-866-000-0000</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="order-pic">
                      <ul>
                        <li><label>Order#</label> <span><%= order.id %></span></li>
                        <li><label>Delivery or Pickup:</label> <span><%= order.order_type %></span></li>
                        <li><label>Order send at:</label> <span><%= order.created_at.strftime('%e %B, %Y %I:%M%p')%></span></li>
                        <li><label>Order request for:</label> <span><%= order.request_time %></span></li>
                        <li><label>Payment:</label> <span><%= order.method_type %></span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="order-pic">
                      <ul>
                        <li><label>Address:</label> 
                          <% unless order.order_type == 'delivery'%>
                            <span>Costumer will pickup order</span>
                          <% else %> 
                              <%= order.address.address_type %>
                              <% if order.address.address_type == "On Campus" %>
                               <%= order.address.school.school_name %> <%= order.address.room_number %> <%= order.address.building.try(:street_adress) %></span>
                             <% else %>
                               <%= order.address.room_number %> <%= order.address.street_adress %>
                             <% end %>  
                            </label>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 tabel-container">
                    <table>
                      <tr class="heading">
                        <th class="first">Items</th>
                        <th class="first">Quantity</th>
                        <th>Total</th>
                      </tr>
                      <% order.menu_item_orders.each_with_index do |item, index | %>
                        <tr class="odd">
                          <td class="first">
                            <h3><%= item.menu_item.item_name %></h3>
                            <% extra = 0 %>
                            <% if item.menu_item_property_id %>
                              <label>Size: <%= order.property_name(item.menu_item_property_id) %> </label>
                              <% extra += order.property_price(item.menu_item_property_id) %>
                            <% end %>
                            <p>Instructions: <%= item.instruction %></p>
                          </td>
                          <td class="first text-center"><%= item.quantity %></td>
                          <td>$ <%= (extra + item.menu_item.price) * item.quantity  %></td>
                        </tr>
                      <% end %>
                      <tr class="odd">
                        <td>
                          <div class="intruction">
                            <span>Special Intructions:</span><%= order.delivery_instruction %>
                          </div>
                          <label class="sig">Customer Signature:________________________________________</label>
                        </td>
                        <td class="border-am">
                          <p>Subtotal:</p>
                          <p>Tex:</p>
                          <p>Delivery Free:</p>
                          <p>Tips:</p>
                          <p><b>Total:</b></p>
                          <p class="small">Coupon & Discount:</p>
                          <p class="small">Total After Discount:</p>
                        </td>
                        <td class="border-am border-am-b">
                          <p>$<%= order.sub_total%></p>
                          <p>$<%= order.sale_tax %></p>
                          <p>$<%= order.delivery_charges %></p>
                          <p>$<%= order.tip_charges %></p>
                          <p><b>$<%= order.total_bill %></b></p>
                          <p>$0</p>
                          <p>$<%= order.total_bill %></p>
                        </td>
                      </tr>
                    </table>  
                    <div class="support-help">
                      For support or helps please contact us:Email:restaurant@campusbite or Phone:1-866-000-000
                    </div>
                  </div>
                </div>   
              </div> 
              <div class="row order-action order-detail hide order_<%= order.id %>"> 
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <%= link_to "Confirm", confirm_order_restaurant_dashboard_path(order), :class => "btn btn-lg green"%>
                </div>
                <div class="col-md-3">
                  <%= link_to raw("<i class='fa  fa-5x fa-print'></i> Print"), print_order_restaurant_dashboard_path(order), :class => "btn btn btn-lg blue", :target => "_blank" %>
                </div>
                <div class="col-md-3">
                  <%= link_to "Cancel", cancel_order_restaurant_dashboard_path(order), :class => "btn btn-lg red"%>
                </div>  
              </div>  
            <% end %>
          </div>   
        </div>
      </div>
    </div>    
  </div>  
</div>

<%= subscribe_to "/restaurant/new_orders" %>

<script type="text/javascript">
  
  function new_order_alert(id)
  {
    
    restaurant_id = "<%= current_user.restaurant.id %>"

    if (restaurant_id == id)
    { 
      alert = $(".toggle-alert").attr('alert');
      if(alert=="true")
      {
        var audio = $("audio")[0]
        audio.play();
      }
    }  
  }
</script>