<!-- Modal -->
<div class="modal fade" id="edit_menu_item_<%= cart.id %>" class="menu-item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for "cart" , :url => edit_item_cart_path(cart), :html => {:class => "edit-menu-form", :id => "edit_menu_item_form_#{cart.id}"} do |f|%>
      <div class="modal-content">
        <div class="modal-header error-title">
          <div class="row Quantity-head">
            <div class="col-md-7 left-side-items">
              <label class="cafe-latte"><%= item.item_name %> <span class="item-price" data-price= "<%= item.price %>">$<%= number_with_precision(item.price, precision: 2)%></span></label>
            </div>

            <div class="col-md-5 Right-side-items">
              <label>Quantity:<%= f.number_field :quantity , :min => "1", :placeholder => "1" , :value => 1, :class => "quantity-field"%>
                <%= f.hidden_field :menu_item_id, :value => item.id %>
              </label>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
          </div>
        </div>
        <div class="modal-body modal-body-container">
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-12  name-restarant">
                <h4>Description:</h4>
                <p class="description"><%= item.description %></p>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="<%= '/assets/shadow.png' %>" />
          </div>
            <% item.groups.each_with_index do |group,index| %>
              <div class="name-field-container">
                <div class="row res-name-field">
                  <div class="col-md-6 name-restarant restarant-align-right">
                    <h4><%= group.name %></h4>
                  </div>
                  <div class="col-md-4 col-md-offset-2 notice <%= (group.message_color == 'Grey') ? 'notice-gray' : 'notice-red'%>">
                    <h5><%= group.message %></h5>
                  </div>
                  <div class="col-md-12 size-container">
                    <% group.group_items.each do |group_item| %>
                      <div class="col-md-4 choose-one">
                        <label class="required">
                          <% if group.max_limit == 1 %>
                            <%= radio_button_tag "cart[group_item_ids][#{index}][]", group_item.id, id: dom_id(group_item) %>
                          <% else %>
                            <%= check_box_tag "cart[group_item_ids][#{index}][]", group_item.id, id: dom_id(group_item) %>
                          <% end -%>
                          <%= group_item.name %> $<%= group_item.price %>
                        </label>
                      </div>
                    <% end %>
                  </div>
                </div>
                <img class="shadow-modal-img" alt="Smiley face" src="<%= '/assets/shadow.png' %>" />
              </div>
            <% end %>
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-8 name-restarant restarant-align-right">
                <h4>Special Instructions</h4>
              </div>
              <div class="col-md-4 notice notice-gray">
                <h5>Optional</h5>
              </div>
              <div class="col-md-12 name-restarant">
                <textarea class="area-text" placeholder="Example: Please no cheese on the burger." name= "cart[instruction]"></textarea>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="<%= '/assets/shadow.png' %>" />
          </div>
        </div>

        <div class="modal-footer order-item">
          <% if restaurant.open? %>
            <%= link_to "Update item in your cart", "#",:class => "btn btn-primary submit-md edit-item-submit", :data => {:cart => cart.id} %>
          <% end %>
        </div>
      </div>
    <% end -%>
  </div>
</div>