<div class="row footer-container">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4  helpful">
        <h4>Helpful</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="<%= aboutus_path %>">About Us</a></li>
          <li><a href="<%= careers_path %>">Careers</a></li>
          <li><a href="<%= restaurant_owners_path %>">Restaurant Qwners</a></li>
          <li><a href="<%= contact_us_path %>">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 helpful">
        <h4>Other</h4>
        <ul>
          <li><a href="#">Press</a></li>
          <li><a href="<%= term_of_service_path %>">Terms Of Service</a></li>
          <li><a href="<%= merchant_term_of_service_path %>">Merchant Terms Of Service</a></li>
          <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
          <li><a href="#">Like Us On Facebook</a></li>
          <li><a href="#">Watch Us On Youtube</a></li>
        </ul>
      </div>
      <div class="col-md-4 compus-content">
        <h4>CampusBite</h4>
        <p>Campus Bite helps you find and order food from wherever you are. How it works: you type in an address, we tell you the restaurants that deliver to that locale as well as showing you droves of pickup restaurants near you. Want to be more specific? Search by cuisine....</p>
      </div>
    </div>
    <div class="row footer-menu">
      <ul class="laster col-md-6 col-md-offset-3">
        <li><a href="<%= aboutus_path %>">About Us</a></li>
        <li><a href="<%= contact_us_path %>">Contact Us</a></li>
        <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="<%= restaurant_owners_path %>">Restaurant Owners</a></li>
        <li><a href="<%= add_restaurant_path%>">Suggest A Restaurant</a></li>
        <li><a href="<%= careers_path %>">Careers</a></li>
      </ul>
    </div>
    <div class="row tradmark">
      <p>Terms of Service | Privacy Policy © 2014 The Campus Bite, LLC</p>
    </div>
  </div>
</div>