<div class="singup-second  padding-bottom-category">
  <div id="confirmation3"></div>
  <%= form_for("guest", :url => guest_registration_path, :html => {:id => "guest_sign_up", :class => "guest-sign-up-form"}) do |f| %>

    <div class="col-md-6 checkout-field">
      <label>First Name:</label>
      <%= f.text_field :first_name, :autofocus => true, :placeholder => "First Name", :class => "required" %>
    </div>

    <div class="col-md-6 checkout-field">
      <label>Last Name:</label>
      <%= f.text_field :last_name, :autofocus => true, :placeholder => "Last Name", :class => "required" %>
    </div>
      <div class="col-md-6 checkout-field">
      <label>Email:</label>
      <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "required" %>
    </div>
    <div class="col-md-12 checkout-field">
      <p class="text-center">By clicking Sign Up you agree to the <a href="<%= term_of_service_path %>">Terms of Service</a> and <a href="<%= privacy_policy_path %>">Privacy Policy</a></p>
    </div>
    <div class="col-md-12 submit-button">
      <button>Sign up</button>
    </div>
    <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".guest-sign-up-form").validate();
    $(".guest-sign-up-form").on('submit', function(e) {
      $(".user-information-tab li.guest").addClass("active");
      $("#guest").addClass("active");
      e.preventDefault(); // prevent native submit
      $(this).ajaxSubmit({
          target: '#confirmation3',
          dataType: 'html',
          success: function(result) {
           $(".checkout-btn-link").click();
          },
          error: function(jqxhr) {
            $("#confirmation3").html("<div class='alert alert-danger'>" +jqxhr.responseText+"</div>");
            $("#confirmation3").hide();
            $("#confirmation3").fadeIn(500);
          }
      });
    });
  });
</script>