<div class="container">
  <%= render :partial => "site_flow" %>
  <div class='row'>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @banners.each_with_index do |bander,index| %>
          <li data-target="#myCarousel" data-slide-to="<%= index %>" class= "<%= 'active' if index == 0 %>">
          </li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% @banners.each_with_index do |bander,index| %>
          <div class="item <%='active' if index == 0 %>">
            <div class="srclider-img"><img class="logo-image" alt="Smiley face" src="<%= bander.uploads.first.image(:large)%>"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

