<div class="col-md-8 menu-tabs">
  <ul class="nav nav-pills menu-tab-opitons">
    <li><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Messages</a></li>
    <li><a href="#">Messages</a></li>
  </ul>
  <div class="row collapse-container">
    <p class="select-bar-menu">
      <select class="form-control">
        <% @menu.menu_categories.each do |category| %>
          <option><%= category.category_name %></option>
        <% end %>  
        
      </select>
    </p>
    <% @menu.menu_categories.each do |category| %>
      <div class="col-md-12 daily-special-container">
        <div class="panel-group" id="accordion">
          <div class="panel food-price-panel">
              <h4 class="panel-title">
                <%= category.category_name %>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=category.id%>">
                  +
                </a>
              </h4>
            <div id="collapse_<%=category.id%>" class="panel-collapse collapse in lunch-collapse-even">
              <div class="panel-body inner-panel">
                <% category.menu_items.each do |item| %>
                  <a href="#" class="menu-item-modal" data-toggle="modal" data-target="#menu_item_<%= item.id %>">
                    <div class="color-odd-pink"> 
                      <div class="content-fries">
                        <label><%= item.item_name%></label>
                        <p><%= item.short_description%></p>
                      </div>
                      <div class="rupees-in">$<%= item.price%></div>
                      <div class="add-button"><button>+</button></div>
                    </div>
                  </a>  
                  <%= render :partial => "menu_item_popup", :locals => {:item => item } %>
                <% end %>  
              </div>
            </div>
          </div>
        </div>
        <img class="shadow-image-1" alt="Smiley face" src="/assets/shadow.png" />
      </div>
    <% end %>  
  </div>

  <div class="col-md-12 note-line">
    <p>Did you notice a difference? Please report it to us: Click Here</p>
  </div>
</div>