<div class="col-md-3 logo-side-1">
  <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/logo.png'>"), '/' %>
</div>
<div class="col-md-9 add-side">
  <img class="liner-3" alt="Smiley face" src="/assets/liner-3.png" />
</div>
<div class="row result-heading">
  <div class="col-md-12 resturant-heading">
    <div class="row error-line">
      <div class="col-md-3">
        <%= link_to raw("<h2>Back To All Restaurants</h2>"), result_welcome_index_path %>
      </div>
      <% unless @restaurant.open? %>
        <div class="col-md-9 flash-message">
          <div class="error-mesg">
            <p>This restaurant is current closed and will taking orders at <%= @restaurant.opening_time %></p>
            <a href="javascript:;" class="flash-link"><span class="cross">x</span></a>
          </div>
        </div>
      <% end -%>   
    </div>  
  </div>
  <div class="comment-main-container">
    <div class="row comment-block odd">
      <div class="col-md-2 comment-images">
        <img class="logo-image" alt="Smiley face" src="/assets/lunch.png" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2><%= @restaurant.restaurant_name%></h2>
            <p><%= @restaurant.contact_info.restaurant_street_address%></p>
          </div>
          <div class="col-md-6 online-orders">
              <% if !@restaurant.offer.blank? %>
                <h3><%= "#{@restaurant.offer.offer_percentage}" + "%  " + "#{@restaurant.offer.description}" %></h3>
              <% end -%>  
            </div>
        </div>
        <div class="row">
          <div class="col-md-9 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
               <% if @restaurant.open? %>
                    <img class="open" alt="Smiley face" src="/assets/open.png" />
                  <% else %>  
                    <img class="open" alt="Smiley face" src="/assets/close.png" />
                    <span class="open-time"> Opens at <%= @restaurant.opening_time %></span>
                  <% end %>
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>
                    <% @restaurant.restaurant_categories.each do |category| %>
                      <%= category.category_name %>
                    <% end %>
                </p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>
                  <% if @restaurant.delivery_info.delivery_charges == 0.00 %>
                    free
                  <% else %>
                    $<%= @restaurant.delivery_info.delivery_charges %>
                  <% end %> 
                </p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$ <%= @restaurant.restaurant_info.min_order %></p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p><%= @restaurant.delivery_info.delivery_estimated_time %></p>
              </div>
              <div class="col-md-2 delivery-field">
                <label class="del-yes">DELIVERY:</label><a class="yes-no" href="#"><%= @restaurant.delivery_info.is_delivery ? "Yes" : "No"%></a>
                <label class="pic-no">PICKUP:</label><a class="yes-no" href="#"><%= @restaurant.restaurant_info.is_pick_up ? "Yes" : "No" %></a>   
              </div>
            </div>                        
          </div>
          <div class="col-md-3 view-menu">
            <%= link_to "+ Add to favorites", add_favorite_restaurant_path(@restaurant), :class => "btn view-button" %>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
</div>