<!-- Modal -->
<div class="modal fade" id="menu_item_<%= item.id %>" class="menu-item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for "cart" , :url => add_item_carts_path, :method => :get, :html => {:class => "order-form"} do |f|%>
      <div class="modal-content">
        <div class="modal-header error-title">
          <div class="row Quantity-head">
            <div class="col-md-7 left-side-items">
              <label class="cafe-latte"><%= item.item_name %> <span class="item-price" data-price= "<%= item.price %>">$<%= item.price%></span></label>
            </div>
            
            <div class="col-md-5 Right-side-items">
              <label>Quantity:<%= f.number_field :quantity , :min => "1", :placeholder => "1" , :value => 1, :class => "quantity-field"%>
                <%= f.hidden_field :menu_item_id, :value => item.id %>
              </label>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
          </div>
        </div>
        <div class="modal-body modal-body-container">
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-12  name-restarant">
                <h4>Description:</h4>
                <p class="description"><%= item.description %></p>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="<%= '/assets/shadow.png' %>" />
          </div>
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-6 name-restarant restarant-align-right">
                <h4>Size</h4>
              </div>
              <div class="col-md-4 col-md-offset-2 notice">
                <h5>Must Choose one</h5>
              </div>
              <div class= "col-md-12 size-container">
                <% item.menu_item_properties.each do |property| %>
                    <div class="col-md-4 choose-one">
                      <label class="required">
                        <%= radio_button_tag "cart[menu_item_property_id]", property.id %>
                        <%= property.name  %>  $<%= property.price %>
                      </label>  
                    </div>  
                  <% end %>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="<%= '/assets/shadow.png' %>" />
          </div>
          <!-- <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-6 name-restarant restarant-align-right">
                <h4>Extras </h4>
              </div>
              <div class="col-md-4 col-md-offset-2 notice notice-gray">
                <h5>Optional Choice</h5>
              </div>
              <div class="col-md-12 size-container">
                <div class="col-md-4 choose-one">
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                </div>
                <div class="col-md-4 choose-one">
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                </div>
                <div class="col-md-4 choose-one">
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                  <label class="required"><input type="checkbox">Small $1.5</label>
                  <label class="required"><input type="checkbox">Medium $2.00</label>
                  <label class="required"><input type="checkbox">larg $1.5</label>
                </div>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="<%= '/assets/shadow.png' %>" />
          </div> -->
          <% if item.instruction? %>
            <div class="name-field-container">
              <div class="row res-name-field">
                <div class="col-md-8 name-restarant restarant-align-right">
                  <h4>Special Instructions</h4>
                </div>
                <div class="col-md-4 notice notice-gray">
                  <h5>Optional</h5>
                </div>
                <div class="col-md-12 name-restarant">
                  <textarea class="area-text" placeholder="Example: Please no cheese on the burger." name= "cart[instruction]"></textarea>
                </div>
              </div>
              <img class="shadow-modal-img" alt="Smiley face" src="<%= '/assets/shadow.png' %>" />
            </div>
          <% end %>  
        </div>

        <div class="modal-footer order-item">
          <% if restaurant.open? %>
            <%= f.submit "Add item to your order", :class => "btn btn-primary submit-md" %>
          <% end %>
        </div>
      </div>
    <% end -%>
  </div>
</div>