<div class="col-md-8 menu-tabs">
  <ul id= "restaurant-tab"class="nav nav-pills menu-tab-opitons" data-tabs="tabs">
    <li class="home active"><a href="#menu" data-toggle="tab">Menu</a></li>
    <li class="profile"><a href="#info" data-toggle="tab">INFO</a></li>
    <li class="mesg"><a href="#reviews" data-toggle="tab">REVIEWS</a></li>
    <li class="review"><a href="#coupons" data-toggle="tab">COUPONS</a></li>
  </ul>
  <div id="restaurant-tab-content" class="tab-content info-page menupage review-page">
    <div class="row collapse-container tab-pane active" id= "menu">
      <p class="select-bar-menu">
        <select class="form-control">
          <% @menu.menu_categories.each do |category| %>
            <option><%= category.category_name %></option>
          <% end %>  
          
        </select>
      </p>
      <% @menu.menu_categories.each do |category| %>
        <div class="col-md-12 daily-special-container">
          <div class="panel-group" id="accordion">
            <div class="panel food-price-panel">
                <h4 class="panel-title">
                  <%= category.category_name %>
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=category.id%>">
                    +
                  </a>
                </h4>
              <div id="collapse_<%=category.id%>" class="panel-collapse collapse in lunch-collapse-even">
                <div class="panel-body inner-panel">
                  <% category.menu_items.each do |item| %>
                    <a href="#" class="menu-item-modal" data-toggle="modal" data-target="#menu_item_<%= item.id %>">
                      <div class="color-odd-pink"> 
                        <div class="content-fries">
                          <label><%= item.item_name%></label>
                          <p><%= item.short_description%></p>
                        </div>
                        <div class="rupees-in">$<%= item.price%></div>
                        <div class="add-button"><button>+</button></div>
                      </div>
                    </a>  
                    <%= render :partial => "menu_item_popup", :locals => {:item => item } %>
                  <% end %>  
                </div>
              </div>
            </div>
          </div>
          <img class="shadow-image-1" alt="Smiley face" src="/assets/shadow.png" />
        </div>
      <% end %>  
    </div>
    <div class="row collapse-container  writing-container tab-pane" id= "info">
      <div class="col-md-12 star-container">
        <div class="border-arround-info">
          <p class="steakhouse-center"><label><%= @restaurant.restaurant_name %></label></p>
          <p class="steakhouse"><label class="contenr-head">About Us:</label><span class="content-info"><%= @restaurant.restaurant_info.about_restaurant %> </span></p>
          <p class="steakhouse"><label class="contenr-head">Address: </label><span class="content-info"><%= @restaurant.contact_info.restaurant_street_address %></span></p>
          <p class="steakhouse"><label class="contenr-head">Telephone:</label><span class="content-info"> <%= @restaurant.contact_info.restaurant_phone %></span></p>
          <p class="steakhouse"><label class="contenr-head">Type of Food:</label>
            <span class="content-info"> 
              <% @restaurant.restaurant_categories.each do |category| %>
                <%= category.category_name %>
              <% end %> 
            </span>
          </p> 
          <p class="steakhouse"><label class="contenr-head">Delivery Fee: </label><span class="content-info">
            <% if @restaurant.delivery_info.delivery_charges == 0.00 %>
              free
            <% else %>
              $<%= @restaurant.delivery_info.delivery_charges %>
            <% end %>
          </span></p> 
          <p class="steakhouse"><label class="contenr-head">Delivery Minimum:</label><span class="content-info">$ <%= @restaurant.restaurant_info.min_order %></span></p> 
          <p class="steakhouse"><label class="contenr-head">Estimated Time:</label><span class="content-info"> <%= @restaurant.delivery_info.delivery_estimated_time %></span></p> 
          <p class="steakhouse"><label class="contenr-head">Delivery:</label><span class="content-info"><%= @restaurant.delivery_info.is_delivery ? "Yes" : "No"%></span></p>
          <p class="steakhouse"><label class="contenr-head">Pickup:</label><span class="content-info"><%= @restaurant.restaurant_info.is_pick_up ? "Yes" : "No" %></span></p>  
          <p class="steakhouse"><label class="contenr-head">Delivery Area:</label><span class="content-info">Biola University,Hempstead</span></p>
        </div>
        <img class="star-block-shadow" src="/assets/shadow.png" alt="Smiley face">
      </div>
      <div class="col-md-12">
        <div class="hours-operation ">
          <h6>Hours of Operation</h6>
          <div class="col-md-6 star-container">
            <div class="border-arround-info arround-info ">
              <label class="pickup-head">Pickup</label>
              <div class="day-items day-items-even">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-odd">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-even">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-odd">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-even">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-odd">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
            </div>
            <img class="info-shadow" src="/assets/shadow.png" alt="Smiley face">
          </div>
          <div class="col-md-6 star-container">
            <div class="border-arround-info arround-info ">
              <label class="pickup-head">Pickup</label>
              <div class="day-items day-items-even">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-odd">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-even">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-odd">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-even">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
              <div class="day-items day-items-odd">
                <label class="days-head">Sunday</label><span class="closing">Cloesed</span><span class="dash-word">-</span><span class="closing">Cloesed</span>
              </div>
            </div>
            <img class="info-shadow" src="/assets/shadow.png" alt="Smiley face" />
          </div>
        </div>
      </div>
      <div class="col-md-12 mapping-container">
        <label>Map</label>
        <img class="info-shadow" src="/assets/big-map.png" alt="Smiley face" />
        <a href="#">Get Directions</a>
      </div>
    </div>
    <div class="row collapse-container writing-container tab-pane" id= "reviews">
      <div class="col-md-4 col-md-offset-4">
        <button class="review-btn-1 ">write a review</button>
      </div>
      <div class="col-md-12 star-container">
        <div class="border-arround-star">
          <div class="stars-line-container">
            <ul class="star-line">
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
            </ul>
          </div>
          <p>Great food delivered in 25 mins we were pleasantly surprised. We will defiantly be ordering from both golden dragon place and the eat now app again. </p>
          <label>Remo, Norwood University</label>          
        </div>
        <img class="star-block-shadow" src="/assets/shadow.png" alt="Smiley face">
      </div>
      <div class="col-md-12 star-container">
        <div class="border-arround-star">
          <div class="stars-line-container">
            <ul class="star-line">
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
            </ul>
          </div>
          <p>Great food delivered in 25 mins we were pleasantly surprised. We will defiantly be ordering from both golden dragon place and the eat now app again. </p>
          <label>Remo, Norwood University</label>          
        </div>
        <img class="star-block-shadow" src="/assets/shadow.png" alt="Smiley face">
      </div>
      <div class="col-md-12 star-container">
        <div class="border-arround-star">
          <div class="stars-line-container">
            <ul class="star-line">
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
            </ul>
          </div>
          <p>Great food delivered in 25 mins we were pleasantly surprised. We will defiantly be ordering from both golden dragon place and the eat now app again. </p>
          <label>Remo, Norwood University</label>          
        </div>
        <img class="star-block-shadow" src="/assets/shadow.png" alt="Smiley face">
      </div>
      <div class="col-md-12 star-container">
        <div class="border-arround-star">
          <div class="stars-line-container">
            <ul class="star-line">
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
            </ul>
          </div>
          <p>Great food delivered in 25 mins we were pleasantly surprised. We will defiantly be ordering from both golden dragon place and the eat now app again. </p>
          <label>Remo, Norwood University</label>          
        </div>
        <img class="star-block-shadow" src="/assets/shadow.png" alt="Smiley face">
      </div>
      <div class="col-md-12 star-container">
        <div class="border-arround-star">
          <div class="stars-line-container">
            <ul class="star-line">
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
            </ul>
          </div>
          <p>Great food delivered in 25 mins we were pleasantly surprised. We will defiantly be ordering from both golden dragon place and the eat now app again. </p>
          <label>Remo, Norwood University</label>          
        </div>
        <img class="star-block-shadow" src="/assets/shadow.png" alt="Smiley face">
      </div>
      <div class="col-md-12 star-container">
        <div class="border-arround-star">
          <div class="stars-line-container">
            <ul class="star-line">
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
            </ul>
          </div>
          <p>Great food delivered in 25 mins we were pleasantly surprised. We will defiantly be ordering from both golden dragon place and the eat now app again. </p>
          <label>Remo, Norwood University</label>          
        </div>
        <img class="star-block-shadow" src="/assets/shadow.png" alt="Smiley face">
      </div>
      <div class="col-md-12 star-container">
        <div class="border-arround-star">
          <div class="stars-line-container">
            <ul class="star-line">
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
              <li><a href="#">this</a></li>
            </ul>
          </div>
          <p>Great food delivered in 25 mins we were pleasantly surprised. We will defiantly be ordering from both golden dragon place and the eat now app again. </p>
          <label>Remo, Norwood University</label>          
        </div>
        <img class="star-block-shadow" src="/assets/shadow.png" alt="Smiley face">
      </div>
      <div class="col-md-6 col-md-offset-3 pagination-container">
        <ul class="pagination">
          <li><a href="#">PREVIOUS</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">next</a></li>
        </ul>
      </div>
    </div>
    <div class="row collapse-container writing-container tab-pane" id= "coupons">
      <div class="col-md-12 coupon-container">
        <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
        <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
      </div>
      <div class="col-md-12 coupon-container">
        <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
        <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
      </div>
      <div class="col-md-12 coupon-container">
        <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
        <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
      </div>
      <div class="col-md-12 coupon-container">
        <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
        <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
      </div>
      <div class="col-md-12 coupon-container">
        <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
        <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
      </div>
    </div>
  </div>  

  <div class="col-md-12 note-line">
    <p>Did you notice a difference? Please report it to us: Click Here</p>
  </div>
</div>