<div class="col-md-4 cart-container">
  <div class="cart-recored">
    <div class="cart-btn">Your cart</div>
    <% if user_signed_in? %>
      <% cart=current_user.cart %>
    <% else %>
      <% cart=Cart.find_by_token(cookies[:cart_token]) %>
    <% end %>

    <% unless cart.blank? %>
      <%= form_for "order", :url => create_order_carts_path, :method => :get, :html => {:class => "order-form"} do |f|%>
        <div class="row asap">
          <div class="col-md-4 order-type">
            Order type:
          </div>
          <div class="col-md-4 delivery-type">
            <div class="delivery-btn order-delivery-btn" data-cart="<%= cart.id %>">
              <%= f.check_box :order_type, {:class => "order_type", :checked => "#{'checked'unless cart.order_type=='pickup'}"}, "delivery"%> Delivery
            </div>
          </div>
          <div class="col-md-4 pickup-type">
            <div class="pick-btn order-pick-btn" data-cart="<%= cart.id %>">
              <%= f.check_box :order_type, {:class => "order_type", :checked => "#{'checked'unless cart.order_type=='delivery'}"}, "pickup" %> Pickup
            </div>
          </div>
          <div class="col-md-12 request-order">
            <%= f.hidden_field :request_time, :value => "ASAP" , :class => "hidden_field_request_time"%>
            <label>Order Requested For:<span><%= f.text_field :request_time, :value => "ASAP",  :disabled => "disabled", :class => "order_request_field" %></span><a href="javascript:void(0)" class="edit-order-link" >Edit</a></label>
          </div>
          <% cart.cart_menu_items.each do |cart| %>
            <div class="col-md-12 Qty-container" id= "cart_<%= cart.id%>">
              <div class="back-border">
                <label class="edit-cloes" data-cart="<%= cart.id %>"> <a href="#" data-toggle = "modal" data-target= "#edit_menu_item_<%= cart.id %>">Eidt</a><span><a class="cloesing remove-cart-item-link" href="javascript:void(0)">X</a></span></label>
                <label class="dolor-heading"><%= cart.menu_item.item_name %><span>$<%= cart.menu_item.price %></span></label>
                <% cart_extra_charges = 0 %>
                <% if cart.menu_item_property_id %>
                  <% cart_extra_charges = cart.property_price(cart.menu_item_property_id) %>
                  <label class="details"><%= cart.property_name(cart.menu_item_property_id)%><span>$<%= cart_extra_charges %></span></label>
                <% end %>
                <label class="details">Instructions:  <%= cart.instruction %></label>
                <label class="total-amount"><img class="line-1" alt="Smiley face" src="/assets/t-line.png" /><span class="item-total" id="cart_menu_item_<%=cart.id%>">$ <%= (cart.menu_item.price + cart_extra_charges) * cart.quantity %></span></label>
                <label class="qty-amount">QTY:<span><%= link_to '-', 'javascript:void(0)', :class => "minus-quantiy", :remote => true %></span><span class="quantity" data-cart = "<%= cart.id %>"><%= cart.quantity %></span><%= link_to '+', 'javascript:void(0)', :class => "plus-quantiy", :remote => true%></label>
              </div>
            </div>
            
          <% end %>  
          <%= hidden_field_tag :restaurant_id , @restaurant.id, :class => "restaurant" %>
          <div class="col-md-12 subtotal-container">
            <div class="subtotal-head">
              <label>Subtotal:</label>
              <label>Tax:</label>
              <label class="delivery-label  <%= 'hide' unless cart.order_type == 'delivery'%>">Delivery Fee:</label>
            </div>
            <div class="subtotal-amount">
              <label class="sub-total">$<%= cart.sub_total %></label>
              <label class="sale-tax">$<%= cart.sale_tax(@restaurant) %></label>
              <label class="delivery-charges <%= 'hide' unless cart.order_type == 'delivery'%>">$<%= cart.delivery_charges(@restaurant) %></label>
            </div>
          </div>
          <div class="col-md-12 grandtotal-container">
            <label>TOTAL:<span class="total-bill">$<%= cart.total_bill(@restaurant) %></span></label>
          </div>
          <div class="col-md-8 col-md-offset-2 checkout-btn">
            <%= link_to raw("<button>CHECKOUT</button>"), "#", :class => "checkout-btn-link", :remote => true %>
          </div>
        </div>
      <% end %>  
      <% cart.cart_menu_items.each do |item| %>
        <%= render :partial => "edit_menu_item_popup", :locals => {:item => item.menu_item , :restaurant => @restaurant, :cart => item } %>
      <% end %>
    <% else %>
      <div class="text-center"> Your Cart is Empty</div>
    <% end %>    
  </div>
</div>

