<div class="col-md-4 ">
  <div class="cart-recored cart-container">
    <div class="cart-btn">YOUR CART</div>
    <% if user_signed_in? %>
      <% cart=current_user.carts.find_by_restaurant_id(params[:id]) %>
    <% else %>
      <% cart=Cart.find_by_token_and_restaurant_id(cookies[:cart_token], params[:id]) %>
    <% end %>

    <% unless cart.blank? %>
      <%= form_for "order", :url => create_order_carts_path, :method => :get, :html => {:class => "order-form"} do |f|%>
        <div class="row asap">
          <div class="col-md-4 order-type">
            Order type:
          </div>
          <div class="col-md-4 delivery-type">
            <div class="pick-btn order-delivery-btn order-type-btn" data-cart="<%= cart.id %>">
              <%= f.check_box :order_type, {:class => "order_type", :checked => "#{'checked'unless (cart.order_type=='pickup') }"}, "delivery"%> Delivery
            </div>
          </div>
          <div class="col-md-4 pickup-type">
            <div class="pick-btn order-pick-btn order-type-btn" data-cart="<%= cart.id %>">
              <%= f.check_box :order_type, {:class => "order_type", :checked => "#{'checked'unless cart.order_type=='delivery' or (cart.order_type.nil?)}"}, "pickup" %> Pickup
            </div>
          </div>
          <div class="col-md-12 request-order">
            <label>Order Requested For:<span class="asap-text">ASAP</span><span>
              <%= f.text_field :order_date_time,  :disabled => "disabled", "data-format"=>"dd/MM/yyyy hh:mm:ss", :class => "order_request_field hidden_field_request_time" %></span><a href="javascript:void(0)" class="edit-order-link" >Edit</a></label>
          </div>
          <% cart.cart_menu_items.each do |cart| %>
            <div class="col-md-12 Qty-container" id= "cart_<%= cart.id%>">
              <div class="back-border">
                <label class="edit-cloes" data-cart="<%= cart.id %>"> <a href="#" data-toggle = "modal" data-target= "#edit_menu_item_<%= cart.id %>">Edit</a><span><a class="cloesing remove-cart-item-link" href="javascript:void(0)">X</a></span></label>
                <label class="dolor-heading"><%= cart.menu_item.item_name %><span>$<%= number_with_precision(cart.menu_item.price, precision: 2) %></span></label>
                <% cart_extra_charges = 0 %>
                <% if cart.group_items %>
                  <% cart.group_items.each do |group_item| %>
                    <% cart_extra_charges += group_item.price %>
                    <label class="details"><%= group_item.name %><span>$<%= number_with_precision(group_item.price, precision: 2) %></span></label>
                  <% end %>
                <% end %>
                <label class="details">Instructions:  <%= cart.instruction %></label>
                <label class="total-amount"><img class="line-1" alt="Smiley face" src="/assets/t-line.png" /><span class="item-total" id="cart_menu_item_<%=cart.id%>">$ <%= number_with_precision( (cart.menu_item.price + cart_extra_charges) * cart.quantity, precision: 2) %></span></label>
                <label class="qty-amount">QTY:<span><%= link_to '-', 'javascript:void(0)', :class => "minus-quantiy", :remote => true %></span><span class="quantity" data-cart = "<%= cart.id %>"><%= cart.quantity %></span><%= link_to '+', 'javascript:void(0)', :class => "plus-quantiy", :remote => true%></label>
              </div>
            </div>

          <% end %>
          <%= hidden_field_tag :restaurant_id , @restaurant.id, :class => "restaurant" %>
          <div class="col-md-12 subtotal-container">
            <div class="subtotal-head">
              <label>Subtotal:</label>
              <label>Tax:</label>
              <label class="delivery-label  <%= 'hide' unless cart.order_type == 'delivery'%>">Delivery Fee:</label>
            </div>
            <div class="subtotal-amount">
              <label class="sub-total">$<%= number_with_precision(cart.sub_total, precision: 2) %></label>
              <label class="sale-tax">$<%= number_with_precision(cart.sale_tax(@restaurant), precision: 2) %></label>
              <label class="delivery-charges <%= 'hide' unless cart.order_type == 'delivery'%>">$<%= number_with_precision(cart.delivery_charges(@restaurant), precision: 2) %></label>
            </div>
          </div>
          <div class="col-md-12 grandtotal-container">
            <label>TOTAL:<span class="total-bill">$<%= number_with_precision(cart.total_bill(@restaurant), precision: 2) %></span></label>
          </div>

          <div class="col-md-8 col-md-offset-2 checkout-btn">

            <% if @restaurant.min_delivery <= cart.total_bill(@restaurant) %>
              <%= link_to raw("<button class='checked-btn'>CHECKOUT</button>"), "#", :class => "checkout-btn-link", :remote => true %>
            <% else %>
            <div class="mini-delivery-message"> * Delivery Minimum  is $<%= number_with_precision(@restaurant.min_delivery, precision: 2) %></div>
              <%= link_to raw("<button class='disable-btn' disabled >CHECKOUT</button>"), "#"%>
            <% end %>
          </div>
        </div>
      <% end %>
      <% cart.cart_menu_items.each do |item| %>
        <%= render :partial => "edit_menu_item_popup", :locals => {:item => item.menu_item , :restaurant => @restaurant, :cart => item } %>
      <% end %>
    <% else %>
      <div class="empty-cart-message">
        <% if @restaurant.open? %>
           Your Cart is Empty
        <% else %>
          This restaurant does not currently accept online orders
        <% end %>
      </div>
    <% end %>
  </div>
  <% unless cart.blank? %>
    <% unless current_user.blank? %>
      <div class="row">
        <div class="col-md-12 reward-point-cart">
          <div class="reward-point">
            <span class="reward-img"></span>
            <label class="heading-point">Reward Points</label>
            <label class="points">This order will get you:</label>
            <h1><span>+<%= cart.sub_total.floor*5 %></span>Rewards Points</h1>
            <p>To learn more reward points <a href="<%= reward_points_path %>">click here</a> </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

