
<div class="col-md-8 menu-tabs">
  <ul id= "restaurant-tab"class="nav nav-pills menu-tab-opitons" data-tabs="tabs">
    <li class="home active"><a href="#menu" data-toggle="tab">Menu</a></li>
    <li class="profile"><a href="#info" data-toggle="tab">INFO</a></li>
    <li class="review"><a href="#reviews" data-toggle="tab">REVIEWS</a></li>
    <li class="coupon"><a href="#coupons" data-toggle="tab">COUPONS</a></li>
  </ul>
  <div id="restaurant-tab-content" class="tab-content info-page menupage review-page">
    <div class="row collapse-container tab-pane active" id= "menu">
      <%= render :partial => "menu_tab_content"%>
    </div>
    <div class="row collapse-container  writing-container tab-pane" id= "info">
      <%= render :partial => "restaurant_info_tab_content"%>
    </div>
    <div class="row collapse-container writing-container tab-pane" id= "coupons">
      <%= render :partial => "restaurant_coupon_tab_content"%>
    </div>
    <div class="row collapse-container writing-container tab-pane" id= "reviews">
      <%= render :partial => "restaurant_review_tab_content"%>
    </div>
  </div>
  <div class="col-md-12 note-line">
    <p>Did you notice a difference? Please report it to us:
      <a href="javascript:;" class="menu-error-link" data-toggle="modal" data-target="#menu_error"> Click Here</p>
  </div>
</div>

<!-- Modal -->
<div class="modal  error-modal fade" id="menu_error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for("menu_error", :url => menu_error_request_path, :html => { :class => "menu-error-form"}) do |f| %>
      <div class="modal-content">
        <div class="modal-header error-title">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Menu Error</h4>
        </div>
        <div class="modal-body modal-body-container">
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-6 col-md-offset-3 name-restarant">
                <h4>Restaurant Name:*</h4>
                <%= f.text_field :restaurant_name, :class => "form-control", :placeholder => "Restaurant Name" %>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="/assets/shadow.png" />
          </div>
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-12 col-md-offset-0 name-restarant">
                <h4>About You (optional so that we can thank you for your help):</h4>

                <%= f.text_field :email, :class => "form-control your-mail", :placeholder => "Your Email" %>
                <%= f.text_field :school_name, :class => "form-control school-name", :placeholder => "School Name" %>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="/assets/shadow.png" />
          </div>
          <div class="name-field-container">
            <div class="row res-name-field">
              <div class="col-md-12 name-restarant">
                <h4>Differences found:*</h4>
                <%= f.text_area :note, :class=> "area-text" %>
              </div>
            </div>
            <img class="shadow-modal-img" alt="Smiley face" src="/assets/shadow.png" />
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "SUBMIT", :class => "menu-error-sumbit btn btn-primary submit-md" %>
        </div>
      </div>
    <% end -%>
  </div>
</div>