<div class="comment-main-container">
  <div class="row comment-block odd">
    <div class="col-md-2 comment-images">
      <% if restaurant.restaurant_info.is_featured? %>
        <button class="feature">Featured</button>
      <% end %>  
      <img class="logo-image" alt="Smiley face" src="/assets/lunch.png" />
    </div>
    <div class="col-md-10 menu-block">
      <div class="row">
        <div class="col-md-6 comment-ground">
          <h2><%= restaurant.contact_info.restaurant_name %></h2>
          <p><%= restaurant.contact_info.restaurant_street_address   %></p>
        </div>
        <div class="col-md-6 online-orders">
          <% if !restaurant.offer.blank? %>
            <h3><%= "#{restaurant.offer.offer_percentage}" + "%  " + "#{restaurant.offer.description}" %></h3>
          <% end -%>  
        </div>
        <% if restaurant.phone_order? %>
          <div class="col-md-6 online-orders-gray">
            <h3>PHONE ORDERS ONLY</h3>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-10 food-block">
          <div class="row delivery-block">
            <div class="col-md-2 delivery-field-img">
              <% if restaurant.open? %>
                <img class="open" alt="Smiley face" src="/assets/open.png" />
              <% else %>  
                <img class="open" alt="Smiley face" src="/assets/close.png" />
                <span class="open-time"> Opens at <%= restaurant.opening_time %></span>
              <% end %>
            </div>
            <div class="col-md-2 delivery-field">
              <label>TYPE OF FOOD:</label>
              <p>
                <% restaurant.restaurant_categories.each do |category| %>
                  <%= category.category_name %>
                <% end %>
              </p>    
            </div>
            <div class="col-md-2 delivery-field">
              <label>DELIVERY FEE:</label>
              <p>
                <% if restaurant.delivery_info.delivery_charges == 0.00 %>
                  free
                <% else %>
                  $<%= restaurant.delivery_info.delivery_charges %>
                <% end %>  
              </p>
            </div>
            <div class="col-md-2 delivery-field">
              <label>DELIVERY MIN:</label>
              <p>$ <%= restaurant.restaurant_info.min_order %></p>
            </div>
            <div class="col-md-2 delivery-field">
              <label>ESTIMATED TIME:</label>
              <p><%= restaurant.delivery_info.delivery_estimated_time  %> minute</p>
            </div>
            <div class="col-md-2 delivery-field">
              <label>REVIEWS:</label>
                <div>
                  <form class="star-line">
                    <input name="rating" type="radio" class="star-read" value="1" <%= 'checked' if restaurant.avarage_rating ==1  %> /> 
                    <input name="rating" type="radio" class="star-read" value="2" <%= 'checked' if restaurant.avarage_rating ==2  %> /> 
                    <input name="rating" type="radio" class="star-read" value="3" <%= 'checked' if restaurant.avarage_rating ==3  %> /> 
                    <input name="rating" type="radio" class="star-read" value="4" <%= 'checked' if restaurant.avarage_rating ==4  %> /> 
                    <input name="rating" type="radio" class="star-read" value="5" <%= 'checked' if restaurant.avarage_rating ==5  %> />
                  </form>
                </div>
            </div>
          </div>                        
        </div>
        <div class="col-md-2 view-menu">
          <% if restaurant.open? and !restaurant.phone_order? %>
            <%= link_to "VIEW MENU", menu_welcome_path(restaurant), :class => "view-button btn" %>
          <% else %>  
            <%= link_to "VIEW MENU", menu_welcome_path(restaurant), :class => "view-button-red btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.star').rating(); 
    $('.star-read').rating({readOnly: true});
  });
</script>