<div class="all-categories">
  <div class="result-label">Result</div>
  <div class="category">
    <label>Choose a category:</label>
    <ul class="chooses">
      <li class="restaurant-category"><a href="#">All categories(<%= RestaurantCategory.count%>)</a></li>
      <% RestaurantCategory.all.each do |category|%>
        <li class="restaurant-category"><a href="#" data-id = "<%= category.id %>" remote = "true"><%= category.category_name %></a></li>
      <% end %>  
    </ul>
  </div>
</div>
<%= form_for "search", :url => result_welcome_index_path, :method => 'get', :html => {
      :class => "advance-search-form " } do |f| %>
  <div class="category-by-sort">
    <div class="padding-around">
      <label>By Sort:</label>
      <ul class="by-sort">
        <%= hidden_field_tag :keyword, params[:keyword], :class => "query" %>
        <li><%= f.check_box :best_match, :checked => "checked" %>Best Match</li>
        <li><%= f.check_box :delivery_free, :value => params[:search][:delivery_free] %>Delivery Fee</li>
        <li><%= f.check_box :delivery_mini, :value => params[:search][:delivery_mini] %>Delivery Minimum</li>
        <li><input type="checkbox">Ratings</li>
        <li><%= f.check_box :delivery_eta, :value => params[:search][:delivery_eta] %>Estimated Time</li>
        <li><%= f.check_box :sort_name, :value => params[:search][:sort_name] %>Restaurant Name</li>
      </ul>  
    </div>
  </div>
  <div class="category-search">
    <div class="padding-around">
      <label>Restaurant Search:</label>
      <label class="search-tax"><%= f.text_field :restaurant_name, :value => params[:search][:restaurant_name] %><button class="search-restaurant">Search</button></label>
    </div>
  </div>
<% end %>     

<script type="text/javascript">
  $(document).ready(function(){
    $(".restaurant-category a").click(function()
    {
      category_id = $(this).data("id");
      url = document.URL;
      $.ajax ({
        url:  url,
        data: {category_id: category_id },
        success: function(data)
        {
          //$(this).addClass("active");
          $("body").html(data); //just for test
        }
      });
    });
  });
</script>