<div class="main-search-bar">
  <%= form_for "search", :url => result_welcome_index_path, :method => 'get', :html => { :class => "main-search-form" } do |f| %>
    <% unless params[:search].blank? %>
      <div class="search-botton">
        <div class="delivery"><%= f.check_box :is_delivery, :checked => (params[:search][:is_delivery] == '1') ? 'checked' : '' %>DELIVERY</div>
        <div class="pickup"><%= f.check_box :is_pick_up, :checked => (params[:search][:is_pick_up] == '1') ? 'checked' : '' %>PICKUP</div>
      </div>
    <% else %>
      <div class="search-botton">
        <div class="delivery"><%= f.check_box :is_delivery, :checked => "checked" %>DELIVERY</div>
        <div class="pickup"><%= f.check_box :is_pick_up %>PICKUP</div>
      </div>
    <% end %>
    <div class="search-field">
      <input type="text" name = "keyword",  placeholder="School Name or Campus", class = "search-keyword", value = <%= params[:keyword] %> >
    </div>
    <div class="search">
      <button class="search-b">Search</button>
    </div>
  <% end -%>
</div>
