<div class="container">

    <div class="col-md-4 Subscribe">
      <div class="Sub-button-1"><button>Subscribe</button></div>
      <% if current_user.blank? %>
        <%= form_for(@subscribe, :html => {:class => "subscribe-form"}) do |f| %>

          <span>Your Name</span><%= f.text_field :name %>
          <span>Your E-mail</span><%= f.text_field :email %>
          <span>School Name</span><%= f.text_field :school_name %>
          <button class="sub-button-bottom">Subscribe</button>
        <% end %>
      <% else %>
        <% if current_user.is_subscribe? %>
          <%= link_to raw("<button class='sub-button-bottom'>Unsubscribe</button>"), unsubscribe_path %>
        <% else %>
          <%= form_for(@subscribe, :html => {:class => "subscribe-form"}) do |f| %>
            <span>Your Name</span><%= f.text_field :name %>
            <span>Your E-mail</span><%= f.text_field :email %>
            <div class="subscribe-schools">
              <span>School Name</span><%= f.text_field :school_name, :class => "search-keyword" %>
            </div>
            <button class="sub-button-bottom">Subscribe</button>
          <% end %>
        <% end -%>
      <% end %>
    </div>
    <div class="col-md-4 Connect-with">
      <div class="Sub-button-2"><button>Subscribe</button></div>
      <div class="row s-icons">
        <div class='col-md-8 col-md-offset-2'>
          <div class='row'>
            <a class="facebook col-md-4 text-center" href="#"><img class="logo-image" alt="Smiley face" src="./assets/facebook.png"></a>
            <a class="twitter col-md-4 text-center"href="#"><img class="logo-image" alt="Smiley face" src="./assets/twitter.png"></a>
            <a class="youtube col-md-4 text-center" href="#"><img class="logo-image" alt="Smiley face" src="./assets/youtube.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 Feedback">
      <div class="Sub-button-3"><button>Subscribe</button></div>
      <p class="campus">Campus Bite is created to make your life easier and more enjoyable. So make our job a little easier by sending feedback to let us know how we are doing</p>
      <%= link_to raw('<button class="touch">Get in touch</button>'), contact_us_path %>
    </div>
  </div>