<div class="row search-container result-page menupage checkout-page last-page aboutus-page owner-page-1">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4  col-md-offset-4 about-logo">
          <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/about-logo.png'>"), '/' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <h1>Contact Us</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 padding-right-zero">
          <div class="conecting-container">
            <div class="row">
              <div class="col-md-12">
                <div class="conecting-container-inner" id="conecting-container-inner-1">
                  
                  <%= form_for(@contact_us, :url => 'contact_us_save', :html =>{:class => 'contact-us-form', :method => :get }) do |f|%>
                    <% if @contact_us.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@contact_us.errors.count, "error") %> prohibited this subscribe from being saved:</h2>

                        <ul>
                        <% @contact_us.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="row contact-form">
                      <div class="col-md-3">
                        <label>Name: *</label>
                      </div>
                      <div class="col-md-8">
                        <%= f.text_field :name %>
                      </div>
                    </div>
                    <div class="row contact-form">
                      <div class="col-md-3">
                        <label>Email: *</label>
                      </div>
                      <div class="col-md-8">
                         <%= f.email_field :email %>
                      </div>
                    </div>
                    <div class="row contact-form">
                      <div class="col-md-3">
                        <label>Subject: *</label>
                      </div>
                      <div class="col-md-8">
                        <%= f.text_field :subject %>
                      </div>
                    </div>
                    <div class="row contact-form">
                      <div class="col-md-3">
                        <label>Message:</label>
                      </div>
                      <div class="col-md-8">
                        <%= f.text_area :message %>
                      </div>
                    </div>
                    <div class="row contact-form">
                      <div class="col-md-5">
                        <label></label>
                      </div>
                      <div class="col-md-6">
                        <button class="submit-btn">Submit</button>
                      </div>
                    </div>
                  <% end %>  
                </div>
                <div class="conecting-container-inner hide" id="thanks">
                  <h1>Thank You For Contacting Us</h1>
                  <h2>We will get in touch with you shortly</h2>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 padding-right-zero">
          <div class="row fq-container">
            <div class="col-md-2">
              <img src="/assets/LastPage_22.png" />
            </div>
            <div class="col-md-10">
              <a href="<%= faqs_path %>">Click Here to go to the FAQ Page</a>
            </div>
          </div>
          <div class="row fq-container">
            <div class="col-md-2">
              <img src="/assets/LastPage_19.png" />
            </div>
            <div class="col-md-10">
              <label>Customer Phone Support<span>1-866-000-0000</span></label>
              <label>Restaurant Phone Support:<span>1-866-000-0000 Ext 219</span></label>
              <label>CampusBite Fax:<span>1-866-000-0000</span></label>
            </div>
          </div>
          <div class="row fq-container fq-container-1">
            <div class="col-md-2">
              <img src="/assets/message.png" />
            </div>
            <div class="col-md-10">
              <label>Support<span>support@campusbite.com</span></label>
              <label>Restaurant Support:<span>restaurant@campusbite.com</span></label>
              <label>Media:<span>media@campusbite.com</span></label>
            </div>
          </div>
          <div class="row socail-icons-container fq-container-margin">
            <h4>connect with us</h4>
            <div class="col-md-1 col-md-offset-4 social-icon">
              <a href="#"><img class="logo-image" alt="Smiley face" src="/assets/facebook.png"></a>
            </div>
            <div class="col-md-2 social-icon">
              <a href="#"><img class="logo-image" alt="Smiley face" src="/assets/twitter.png"></a>
            </div>
            <div class="col-md-1 social-icon">
              <a href="#"><img class="logo-image" alt="Smiley face" src="/assets/youtube.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row owner-container">
        <div class="col-md-4 padding-right-zero">
          <div class="row  careers-container careers-container-padding">
            <div class="col-md-2">
              <img src="/assets/people.png" />
            </div>
            <div class="col-md-10">
              <h3>careers</h3>
              <p>Looking for a job or internship?</p>
              <p><a href="#">Click here to view openings</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 padding-right-zero">
          <div class="row  careers-container careers-container-padding">
            <div class="col-md-2">
              <img src="/assets/owner.png" />
            </div>
            <div class="col-md-10">
              <h3>Restaurant Owners</h3>
              <p>Restaurant not listed?</p>
              <p><a href="<%= add_restaurant_path %> ">Click here to join CampusBite</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4  padding-right-zero">
          <div class="row  careers-container">
            <div class="col-md-2">
              <img src="/assets/campus.png" />
            </div>
            <div class="col-md-10">
              <h3>Campus</h3>
              <p>Campus not listed?</p>
              <p><a href="<%= add_campus_path %>">Click here to bring CampusBite</a></p>
              <p>To your Campus</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    var hash = window.location.hash.substring(1);
    if(hash){
      $("#conecting-container-inner-1").addClass("hide");
      $("#thanks").removeClass("hide");
    }  
    else{
      $("#conecting-container-inner-1").removeClass("hide");
      $("#thanks").addClass("hide");
    }  
  });
</script>