<%= subscribe_to "restaurant/#{@order.restaurant.id}/new_orders" %>
<div class="row search-container result-page menupage checkout-page last-page">
  <div class="container">
    <div class="col-md-3 logo-side-1">
      <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/logo.png'>"), '/' %>
    </div>
    <div class="col-md-9 add-side">
      <img class="liner-3" alt="Smiley face" src="/assets/liner-4.png" />
    </div>
    
    <div class="col-md-12 order-complete-container">
      <div class="row">
        <div class="col-md-1 green-tick">
          <img class="liner-3" alt="Smiley face" src="/assets/green-tick.png" />
        </div>
        <div class="col-md-11 thanks-order">
          <h3>Thank You for your order</h3>
          <p>Your order has has been sent to <%= @order.restaurant.restaurant_name %> . Our team of professionals will take it from here.You can now just sit back and relax. <%= @order.secure_code %></p>
        </div>
      </div>
    </div>

    <div class="col-md-12 order-restaurant-container">
      <div class="row">
        <div class="col-md-6 order-detail">
          <h3>Order Details</h3>
          <label><span>Order Number:</span><span class="value"><%= @order.id %></span></label>
          <label><span>Order Time:</span><span class="value"><%= @order.created_at.strftime("%m/%d/%Y %H:%M %p") %></span></label>
          <label><span>Order Type:</span><span class="value"><%= @order.order_type %></span></label>
          <label><span>Requested For:</span><span class="value"><%= @order.request_time %></span></label>
          <label><span>Estimated Delivery Time:</span><span class="value"><%= @order.restaurant.estimated_time %> minutes</span></label>
          <label><span>Payment Method:</span> <%= @order.method_type %></label>
        </div>
        <div class="col-md-6 order-detail restaurant-detail">
          <h3>Restaurant Details</h3>
          <label><span>Restaurant Name:</span><span class="value"><%= @order.restaurant.restaurant_name %></span></label>
          <label><span>Restaurant Address:</span><span class="value"><%= @order.restaurant.address %></span></label>
          <label><span>Restaurant Telephone:</span><span class="value"><%= @order.restaurant.phone %></span></label>
        </div>
      </div>
    </div>
    <div class="col-md-12 order-restaurant-container">
      <div class="row">
        <div class="col-md-6 order-detail your-detail">
          <h3>Your Details</h3>
          <label><span>Name:</span><span class="value"><%= @order.user.name %></span></label>
          <label><span>Telephone:</span><span class="value">(718)-419-2143</span></label>
          <label><span>Email:</span><span class="value"><%= @order.user.email %></span></label>
          <% unless @order.order_type == "pickup" %>
            <label><span>Address:</span><span class="value">
              <%= @order.address.address_type %>
              <% if @order.address.address_type == "On Campus" %>
               <%= @order.address.school.school_name %> <%= @order.address.room_number %> <%= @order.address.building.try(:street_adress) %></span>
             <% else %>
               <%= @order.address.room_number %> <%= @order.address.street_adress %>
             <% end %>  
            </label>
          <% end %>  
        </div>
        <div class="col-md-6 campusbite-container">
          <div class="row about-fnd">
            <h3>tell a friend about campusbite</h3>
            <div class="col-md-9 email-id">
              <input type="text" placeholder="Your Friend's Email Address" />
            </div>
            <div class="col-md-3 submit-btn">
              <button>Submit</button>
            </div>
          </div>
          <div class="row about-fnd">
            <h3>connect with us</h3>
            <div class="col-md-2 col-md-offset-3 social-icons">
              <a href="#">
                <img class="logo-image" alt="Smiley face" src="/assets/facebook.png" />
              </a>
            </div>
            <div class="col-md-2 social-icons">
              <a href="#">
                <img class="logo-image" alt="Smiley face" src="/assets/twitter.png" />
              </a>
            </div>
            <div class="col-md-2 social-icons">
              <a href="#">
                <img class="logo-image" alt="Smiley face" src="/assets/youtube.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 receipt-container">
      <div class="row receipt">
        <div class="col-md-4"></div>
        <div class="col-md-4 print-head"><h3>Receipt</h3></div>
        <div class="col-md-3 col-md-offset-1 printer-img">
          <a href="javascript:void(0)" class="printer-request"><span class="printer"></span>Print Receipt</a>
        </div>
      </div>
      <div class="row receipt-info">
        <div class="col-md-4 order-detail">
          <label><span>Order Number:</span><span class="value"><%= @order.id %></span></label>
          <label><span>Order Time:</span><span class="value"><%= @order.created_at.strftime("%m/%d/%Y %H:%M %p") %></span></label>
          <label><span>Order Type:</span><span class="value"><%= @order.order_type %></span></label>
          <label><span>Requested For:</span><span class="value"><%= @order.request_time %></span></label>
          <label><span>Estimated Delivery Time:</span><span class="value"><%= @order.restaurant.estimated_time %> minutes</span></label>
          <label><span>Payment Method:</span><% @order.method_type %></label>
        </div>
        <div class="col-md-3 col-md-offset-1 order-detail">
          <label>Restaurant</label>
          <label><%= @order.restaurant.restaurant_name %></label>
          <label>8<%= @order.restaurant.address %></label>
        </div>
        <div class="col-md-3 col-md-offset-1 order-detail">
          <label>You</label>
          <label><%= @order.user.name %></label>
          <label><%= @order.user.email %></label>
          <% unless @order.order_type == "pickup" %>
            <label><%= @order.address.phone_number %></label>
            <label><%= @order.address.address_type %></label>
            <% if @order.address.address_type == "On Campus" %>
              <label> <%= @order.address.school.school_name %></label>
              <label><%= @order.address.building.try(:building_name) %></label>
              <label><%= @order.address.room_number %></label>
              <label><%= @order.address.building.try(:street_adress) %></label>
            <% else %>  
              <label><%= @order.address.room_number %>  </label>
              <label><%= @order.address.street_adress %> </label>
            <% end %>
          <% end -%>  

        </div>
        <div class="row receipt-table">
          <div class="col-md-12 credit-table">
            <table>
              <tr class="heading">
                <th class="first">Items</th>
                <th class="first">Price</th>
                <th class="first">Quantity</th>
                <th>Total</th>
              </tr>
              <% @order.menu_item_orders.each_with_index do |item, index | %>
                <tr class="odd">
                  <td class="first">
                    <h3><%= item.menu_item.item_name %></h3>
                    <% extra = 0 %>
                    <% if item.menu_item_property_id %>
                      <label>Size: <%= @order.property_name(item.menu_item_property_id) %> </label>
                      <% extra += @order.property_price(item.menu_item_property_id) %>
                    <% end -%>  
                    <label>Extra Toppings: Mushrooms, Tomato, Onion</label>
                    <p>Instructions: <%= item.instruction %></p>
                  </td>
                  <td class="first">$<%= extra + item.menu_item.price %></td>
                  <td class="first"><%= item.quantity %></td>
                  <td>$ <%= (extra + item.menu_item.price) * item.quantity  %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="row special-instructions">
          <div class="col-md-6">
            <h3>Special Instructions:</h3>
            <div class="note"><%= @order.delivery_instruction %></div>
          </div>
          <div class="col-md-6 subtotal">
            <label><span>Subtotal:</span><span class="value">$<%= @order.sub_total%></span></label>
            <label class="green"><span>Online Discount(10% off):</span><span class="value">- $0</span></label>
            <label class="green"><span>Coupon (Ketchup):</span><span class="value">-$0</span></label>
            <label><span>Tax:</span><span class="value">$<%= @order.sale_tax %></span></label>
            <% if @order.order_type == "delivery" %>
              <label><span>Delivery Fee:</span><span class="value">$<%= @order.delivery_charges %></span></label>
            <% end %> 
              <label><span>Tip:</span><span class="value">$<%= @order.tip_charges %></span></label>
             
            <label class="larg-size"><span>Total:</span><span class="value">$<%= @order.total_bill %></span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 status-tweet">
      <div class="row">
        <h3>Some Cool Statuses or Tweets You Can Post</h3>
        <div class="col-md-8">
          <p>Lots of restaurant choices, super-fast, easy ordering and safe payment?</p>
          <p>Thanks CampusBite, you rock!</p>
        </div>
        <div class="col-md-3 col-md-offset-1 give-me">
          <a href="#"><span class="give"></span>Give Me A New One</a>
        </div>
      </div>
    </div>
    <div class="col-md-12 live-chat-container">
      <div class="row">
        <div class="col-md-7  question-place">
          <div class="row faq-contact">
            <div class="col-md-2">
              <img class="logo-image" alt="Smiley face" src="/assets/LastPage_19.png" />
            </div>
            <div class="col-md-10">
              <p class="black-text">If You Need Help Or Have Any Questions Please Contact Us</p>
              <p>Live Chat</p>
              <p>Phone: (866) - 000 - 0000</p>
              <p>Email: support@campusbite.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-5  faq-contact faq-page">
          <div class="row">
            <div class="col-md-3">
              <img class="logo-image" alt="Smiley face" src="/assets/LastPage_22.png" />
            </div>
            <div class="col-md-9">
              <p><a href="<%= faqs_path %>">Click Here to go to the FAQ Page</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
