<div class="portlet-body form">
  <%= form_for(@term_of_service_page, :url => set_term_of_service_page_url(@term_of_service_page)) do |f| %>
    <div class="form-body">
      <% if @term_of_service_page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@term_of_service_page.errors.count, "error") %> prohibited this term_of_service_page from being saved:</h2>

          <ul>
          <% @term_of_service_page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row form-group">
        <%= f.label :content,:class => "col-md-2 control-label" %>
        <div class="col-md-10">
          <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 60 %>
          <%= tinymce %>
        </div>
      </div>

    </div>

    <div class="form-actions fluid">
      <div class="col-md-offset-4 col-md-4">
        <%= f.submit "Save", :class => "btn green" %>
        <%= link_to "Cancel", admin_term_of_service_pages_path,:class => "btn default "%>
      </div>
    </div>
  <% end %>
</div>