<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Term Of Service Page
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li> <%= link_to "Term Of Service Page", admin_term_of_service_pages_path %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-user"></i>Term Of Service Page Content
        </div>
        <div class="pull-right">
          <%= link_to raw('<span class="label label-default">Add New Content </span>'), new_admin_term_of_service_page_path %>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Content</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @term_of_service_pages.each do |term_of_service| %>
                <tr>
                  <td><%= term_of_service.content %></td>
                  <td><%= link_to raw("<span class='label label-sm label-default'> edit </span>"), edit_admin_term_of_service_page_path(term_of_service) %></td>
                  <td><%= link_to raw("<span class='label label-sm label-danger'> delete </span>"), admin_term_of_service_page_path(term_of_service) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
