<h1>Listing restaurant_offers</h1>

<table>
  <tr>
    <th>Restuarant</th>
    <th>Description</th>
    <th>Offer precentage</th>
    <th>Offer price</th>
    <th>Valid from</th>
    <th>Valid to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurant_offers.each do |restaurant_offer| %>
  <tr>
    <td><%= Restaurant.find(restaurant_offer.restaurant_id).contact_info.restaurant_name %></td>
    <td><%= restaurant_offer.description %></td>
    <td><%= restaurant_offer.offer_percentage %></td>
    <td><%= restaurant_offer.offer_price %></td>
    <td><%= restaurant_offer.valid_from %></td>
    <td><%= restaurant_offer.valid_to %></td>
    <td><%= link_to 'Show', admin_restaurant_offer_path(restaurant_offer) %></td>
    <td><%= link_to 'Edit', edit_admin_restaurant_offer_path(restaurant_offer) %></td>
    <td><%= link_to 'Destroy', admin_restaurant_offer_path(restaurant_offer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant offer', new_admin_restaurant_offer_path %>
