<%= form_for(@addon) do |f| %>
  <% if @addon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addon.errors.count, "error") %> prohibited this addon from being saved:</h2>

      <ul>
      <% @addon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field restaurant_selector">
    <%= f.label :restaurant_id, "Restaurant" %> 
    <%= f.collection_select :restaurant_id, Restaurant.all,:id,:restaurant_name, include_blank: true %>
  </div>
  <div class="field menu-category-selector">
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

