<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @addon.name %>
</p>

<p>
  <b>Count:</b>
  <%= @addon.count %>
</p>

<p>
  <b>Restuarant:</b>
  <%= Restaurant.find(@addon.restaurant_id).contact_info.restaurant_name %>
</p>

<p>
  <b>Menu category:</b>
  <%= @addon.menu_category.category_name %>
</p>


<%= link_to 'Edit', edit_addon_path(@addon) %> |
<%= link_to 'Back', addons_path %>
