<div class="row search-container result-page menupage checkout-page last-page">
  <div class="container">
	<%= form_for(@building, :url => create_building_admin_schools_path) do |f| %>
		<%= hidden_field_tag :school_id, params[:id] %>
		<div class="field">
	    <%= f.label :building_name %><br />
	    <%= f.text_field :building_name %>
	  </div>
	  <div class="field">
	    <%= f.label :city %><br />
	    <%= f.text_field :city %>
	  </div>
	  <div class="field">
	    <%= f.label :state %><br />
	    <%= f.text_field :state %>
	  </div>
	  <div class="field">
	    <%= f.label :zip_code %><br />
	    <%= f.text_field :zip_code %>
	  </div>
	  <%= f.submit %>
	<% end %>
  </div>
</div>  		