<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Dashboard
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Locations", admin_schools_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= @school.school_name %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
    <div class="portlet box yellow">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i>About <%= @school.school_name %>
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li>
            <div class="col-md-3"> <label> Name </label></div>
            <div class="col-md-9"> <label> <%= @school.school_name %> </label></div>
          </li>
          <li>
          <li>
            <div class="col-md-3"> <label> Address </label></div>
            <div class="col-md-9"> <label><%= @school.school_address %> </label></div>
          </li>
          <li>
            <div class="col-md-3"> <label>Branch Name </label></div>
            <div class="col-md-9"> <label><%= @school.branch_name %> </label> </div>
          </li>
          <li>
            <div class="col-md-3"> <label> No. of Subscategories </label></div>
            <div class="col-md-9"> <label> <%= @school.buildings.count %> </label></div>
          </li>
          <li>
            <div class="col-md-3"> <label> No. of Near Restaurants </label></div>
            <div class="col-md-9"> <label> <%= @school.restaurants.count %> </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i><%= @school.school_name %> Sub-categories
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container school-buildings" data-school = "<%= @school.id %>">
          <table class="table table-striped table-bordered table-hover" id="buildings-table" >
            <thead>
              <tr>
                <th> Name </th>
                <th> Address </th>
                <th> City </th>
                <th> Zip Code </th>
                <th> State </th>
                <th> Edit</th>
                <th> Delete</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
