 <div class="view-reciept-data hide">
  <div class="row receipt">
    <div class="col-md-4">
      <h3>Order Confirmation Number: <%= order.secure_code %></h3>
      <h3>Order Number: <%= order.id %></h3>
      <h3>Order Type: <%= order.order_type %></h3>
      <h3>Payment Method: <%= order.method_type %></h3>
    </div>
  </div>
  <div class="row receipt-table">
    <div class="col-md-12 credit-table">
      <table>
        <tr class="heading">
          <th class="first">Items</th>
          <th class="first">Price</th>
          <th class="first">Quantity</th>
          <th>Total</th>
        </tr>
        <% order.menu_item_orders.each_with_index do |item, index | %>
          <tr class="odd">
            <td class="first">
              <h3><%= item.menu_item.item_name %></h3>
              <% extra = 0 %>
              <% unless item.group_item_ids.blank? %>
                <label> Extra: 
                <% item.group_items.each do |group_item| %>
                  <%= group_item.name + " " %>
                  <% extra += group_item.price %>
                <% end %>
              <% end %>
            </td>
            <td class="first">$<%= extra + item.menu_item.price %></td>
            <td class="first"><%= item.quantity %></td>
            <td>$ <%= (extra + item.menu_item.price) * item.quantity  %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row special-instructions">
    <div class="col-md-6">
      <h3>Special Instructions:</h3>
      <div class="note"><%= order.delivery_instruction %></div>
    </div>
    <br />
    <div class="col-md-6 subtotal">
      <label><span>Subtotal:</span><span class="value">$<%= order.sub_total%></span></label> <br />
      <label class="green"><span>Online Discount(10% off):</span><span class="value">- $0</span></label> <br />
      <label class="green"><span>Coupon (Ketchup):</span><span class="value">-$0</span></label> <br />
      <label><span>Tax:</span><span class="value">$<%= order.sale_tax %></span></label>
      <% if order.order_type == "delivery" %> <br />
        <label><span>Delivery Fee:</span><span class="value">$<%= order.delivery_charges %></span></label> <br />
      <% end %>  
      <label><span>Tip:</span><span class="value">$<%= order.tip_charges %></span></label> <br />
      <label class="larg-size"><span>Total:</span><span class="value">$<%= order.total_bill %></span></label> <br />
    </div>
  </div>
</div>