<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Dashboard
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Restaurants", admin_customers_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
      	<%= link_to @menu.restaurant.restaurant_name , admin_restaurant_path(@menu.restaurant) %>
      	<i class="fa fa-angle-right"></i>
      </li>
      <li>
      	<%= link_to 'Menu' , admin_menu_path(@menu) %>
      	<i class="fa fa-angle-right"></i>
      </li>
      <li>
      	New Menu Category
      </li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet box yellow">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-edit"></i>New Note
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
          <a href="javascript:;" class="remove">
          </a>
        </div>
      </div>  
      <%= render 'form' %>
    </div>
  </div>
</div>