<div class="main-body signup-page">
  <div class="row search-container">
    <div class="container">
      <div class="col-md-12 bits-campus">
        <img class="logo-image" alt="Smiley face" src="/assets/campus-bite.png">
        <p>Sign in to your account</p>
      </div>
      <div class="row singup-category">
        <div class="col-md-8 col-md-offset-2 signup-container">
          <div class="row signup-field">
            <div class="page-ring">
              <img class="single-ring" alt="Smiley face" src="/assets/single-ring.png">
            </div>
            <div class="sign-btn">
              <p><%= link_to raw("<button class='sign-in-btn'>Sign in</button>"), new_session_path(resource_name) %></p>
              <p><%= link_to raw("<button class='sign-in-btn'>Sign up</button>"), new_registration_path(resource_name)%></p>
            </div>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div class="col-md-12 signup-form-container">
                <div class="signup-form forget-form">
                  <div class="confoirmation-container">
                    <label class="email-name pass-name">Email:</label>
                    <%= f.text_field :email , :class=> "email-input pass-input", :placeholder=>"Email" %>
                    <label class="email-name pass-name">Password:</label>
                    <%= f.password_field :password, :class=> "email-input pass-input", :placeholder=> "Password" %>
                    <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
                  </div>
                </div>
                <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
              </div>
              <div class="col-md-12 submit-button facebook-button">
                <button>Sign in</button>
                <div class="forget-password">
                  <p><a class="facebook-icon" href="/users/auth/facebook"></a></p>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>