<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      Careers- <%= @career.title %>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Careers", admin_careers_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= @career.title %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet box yellow">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-thumb-tack"></i>About <%= @career.title %>
        </div>
        <div class="actions">
          <%= link_to raw("<i class='fa fa-pencil'></i> Edit"), edit_admin_career_path(@career), :class => "btn default btn-sm"%>
          <%= link_to raw("<i class='fa fa-angle-left'></i> Back"), admin_careers_path, :class => "btn default btn-sm"%>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li>
            <div class="col-md-3"> <label> Job Title </label></div>
            <div class="col-md-9"> <label> <%= @career.title %> </label></div>
          </li>
          <li>
            <div class="col-md-3"> <label> Job Location </label></div>
            <div class="col-md-9"> <label> <%= @career.location %> </label></div>
          </li>
          <li>
            <div class="col-md-3"> <label> Job Responsibilities </label></div>
            <div class="col-md-9"> <label> <%= @career.responsibilities %> </label></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>