<%= form_for(@addon, :url => set_addon_path(@addon)) do |f| %>
  <% if @addon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addon.errors.count, "error") %> prohibited this addon from being saved:</h2>

      <ul>
      <% @addon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field restaurant_selector">
    <%= f.label :restaurant_id, "Restaurant" %> 
    <%= f.collection_select :restaurant_id, Restaurant.all,:id,:restaurant_name, include_blank: "Select Restaurant" %>
  </div>
  <div class="field menu-category-selector">
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </div>

  <%= link_to "Add Sub-Addon", '#', :remote => true , :class => "add_sub_addon" %>

    
  <div class="field sub-addon">
    <label class="Add-on-label hide"> Add Sub Addons</label>
    <% if !@addon.addon_subcategories.blank? %>
      <%= f.fields_for :addon_subcategories do |f|%>
        <%= f.text_field :name %>
      <% end %>
    <% end %>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

