<%= form_for [@school, @restaurant] do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_name %><br />
    <%= f.text_field :restaurant_name %>
  </div>
  <div class="field">
    <%= f.label :restaurant_phone %><br />
    <%= f.text_field :restaurant_phone %>
  </div>
  <div class="field">
    <%= f.label :restaurant_website %><br />
    <%= f.text_field :restaurant_website %>
  </div>
  <div class="field">
    <%= f.label :restaurant_street_address %><br />
    <%= f.text_field :restaurant_street_address %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :about_restaurant %><br />
    <%= f.text_area :about_restaurant , :cols => 40, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :is_pick_up %><br />
    <%= f.check_box :is_pick_up %>
  </div>
  <div class="field">
    <%= f.label :is_deliver %><br />
    <%= f.check_box :is_deliver %>
  </div>
  <div class="field">
    <%= f.label :is_featured %><br />
    <%= f.check_box :is_featured %>
  </div>
  <div class="field">
    <%= f.label :min_delivery %><br />
    <%= f.text_field :min_delivery %>
  </div>
  <div class="field">
    <%= f.label :delivery_eta %><br />
    <%= f.time_select :delivery_eta %>
  </div> <br>
 <label> Select Categories of Restaurant</label>
  <div class="control-group">
    <%= hidden_field_tag "restaurant[restaurant_category_ids][]", nil %>
    <div class="controls">
      <% RestaurantCategory.all.each do |cat| %>
        <%= check_box_tag "restaurant[restaurant_category_ids][]", cat.id, @restaurant.restaurant_category_ids.include?(cat.id), id: dom_id(cat), :class => 'pull-left' %>
        <%= label_tag dom_id(cat), cat.category_name %> <br >
      <% end %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  