<div class="row">
  <div class="container"> 
    <h4>Listing of  Restaurants </h4>
    <table class="table" >
      <tr>
        <th>Restaurant name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.contact_info.restaurant_name %></td>
          <% unless params[:school_id].blank? %>
            <% if can? :read, Restaurant %>
              <td><%= link_to 'Show', [@school,restaurant] %></td> 
            <% end %>  
            <% if can? :update, Restaurant %>  
              <td><%= link_to 'Edit', edit_school_restaurant_path(@school,restaurant) %></td>
            <% end %>  
            <% if can? :delete, Restaurant %>  
              <td><%= link_to 'Destroy', [@school,restaurant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>  
          <% else %>  
            <% if can? :read, Restaurant %>
              <td><%= link_to 'Show', restaurant %></td>
            <% end %>  
            <% if can? :update, Restaurant %>   
              <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
            <% end %>  
            <% if can? :delete, Restaurant %>
              <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>  
          <% end %>  
        </tr>
      <% end %>
    </table>
    <br />
    <% unless params[:school_id].blank? %>
      <% if can? :create, Restaurant %>  
        <%= link_to 'New Restaurant', new_school_restaurant_path(@school) %> | 
      <% elsif can? :read, Restaurant %>
        <%= link_to 'Back', school_path(@school) %> 
      <% end %>  
    <%else %>
      <% if can? :create, Restaurant %>  
        <%= link_to 'New Restaurant', new_restaurant_path %>
      <% end %>  
    <% end %>  
  </div>
</div>