<div class="row">
  <div class="container"> 
    <h4>Listing of <%= link_to @school.school_name, @school %>  Restaurants </h4>
    <table class="table" >
      <tr>
        <th>Restaurant name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.restaurant_name %></td>
          <td><%= link_to 'Show', [@school,restaurant] %></td>
          <td><%= link_to 'Edit', edit_school_restaurant_path(@school,restaurant) %></td>
          <td><%= link_to 'Destroy', [@school,restaurant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
    <br />

    <%= link_to 'New Restaurant', new_school_restaurant_path(@school) %> | 
    <%= link_to 'Back to school', @school %>
  </div>
</div>