<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_name %><br />
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :school_address %><br />
    <%= f.text_field :school_address %>
  </div>
  <div class="field">
    <%= f.label :branch_name %><br />
    <%= f.text_field :branch_name %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
  
<% end %>
