<div class="portlet-body form">
  <%= form_for(@note) do |f| %>
    <div class="form-body">
      <% if @note.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
          <ul>
          <% @note.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :user_id %>
      <div class="form-group">
         <label class="col-md-2 control-label"> Messsage  </label>
         <div class="col-md-10">
          <%= f.text_field :message, :class => "form-control" %>
        </div>
      </div>  
    </div>  
    <div class="form-actions fluid">
      <div class="col-md-offset-4 col-md-4">
        <%= f.submit "Save", :class => "btn green" %>
        <%= link_to "Cancel", admin_customer_path(@customer),:class => "btn default "%>
      </div>  
    </div>
  <% end %>
</div>  
