<h4>Listing of Restaurant Categories </h4>

<table class="table table-striped user-result">
  <tr>
    <th>Category name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurant_categories.each do |restaurant_category| %>
  <tr>
    <td><%= restaurant_category.category_name %></td>
    <td><%= link_to 'Show', admin_restaurant_category_path(restaurant_category) %></td>
    <td><%= link_to 'Edit', edit_admin_restaurant_category_path(restaurant_category) %></td>
    <td><%= link_to 'Destroy', admin_restaurant_category_path(restaurant_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, RestaurantCategory %>
  <%= link_to 'New Restaurant category', new_admin_restaurant_category_path %>
<% end %>
