<h1>Listing menu_items</h1>

<table>
  <tr>
    <th>Item name</th>
    <th>Menu category</th>
    <th>Price</th>
    <th>Short description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_items.each do |menu_item| %>
  <tr>
    <td><%= menu_item.item_name %></td>
    <td><%= menu_item.menu_category_id %></td>
    <td><%= menu_item.price %></td>
    <td><%= menu_item.short_description %></td>
    <td><%= link_to 'Show', menu_item %></td>
    <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
    <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu item', new_school_restaurant_menu_menu_category_menu_item_path[@school, @restaurant, @menu, @menu_category] %>
