<!DOCTYPE html>
<html>
<head>
  <title>Ordering</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-body">
    <div class="ordering_header">
      <%= render :partial => "welcome/header" %> 
    </div>  
    <%= yield %>
    <div class="ordering_footer">
      <%= render :partial => "welcome/footer" %> 
    </div>  
  </div>  
</body>
</html>
