<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>Ordering</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-body">
    <div class="ordering_header">
      <%= render :partial => "welcome/header" %>
    </div>
    <div class="flash row margin-auto">
      <% flash_message = current_user.blank? ? "flash-msg" : "signed-in-flash-msg" %>
      <div class="<%= flash_message %>">
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <% unless name == :warning %>
              <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% else %>
              <div class="alert alert-<%= name%> ">
                <a class="close" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <div class="ordering_footer">
      <%= render :partial => "welcome/footer" %>
    </div>
  </div>
</body>
</html>
