<html>
  <head>
    <title>Ordering</title>
    <%= stylesheet_link_tag    "super_admin", :media => "all" %>
    <%= javascript_include_tag "super_admin" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="page-header-fixed" >
    <%= render :partial => "admin/header" %> 
    <div class="page-container">
      <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
          <%= render :partial => "admin/admin_left_side_menu" %> 
        </div>  
      </div>
      <div class="page-content-wrapper">
        <div class="page-content">
          <%= yield %>
        </div>  
      </div>  
    </div>  
    <%= render :partial => "admin/footer" %> 
  </body>
</html>